<div class="page_content userpage" style="" >
    <style>
        .mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
            background-color: #50CF65;
            color: #fff;
        }
        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.body1{
            height: 20px;
            line-height: 20px;
        }
    </style>
    <h1 name=''>停车场名称</h1>
    <ul class="mui-table-view">
        <li class="mui-table-view-divider">车位使用状态:<span class="mui-badge">5分钟前更新</span></li>
    </ul>
    <ul class="mui-table-view mui-grid-view mui-grid-9" name='kucunpanel'>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">

                <div class="mui-media-body">已满</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 mui-active"><a href="#">
                <div class="mui-media-body">少量</div></a></li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">

                <div class="mui-media-body">较多</div></a></li>
    </ul>

    <ul class="mui-table-view">
        <li class="mui-table-view-divider">当前有<span class="mui-badge mui-badge-danger">9</span>量车已下单预付，正在路上，请注意预留!</li>
        <li class="mui-table-view-cell" name='jifenpanel'>
            <div>可以用积分:<span>391</span></div>
            <div>100积分兑换，手机话费100元</div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>兑换</div>
        </li>
        <li class="mui-table-view-cell" name='tixianpanel'>
            <div>今日收益：128.00元</div>
            <div>可以提现：100.00元</div>
            <div class="mui-btn mui-btn-success  mui-pull-right">提现</div>
        </li>
        <li class="mui-table-view-cell"></li>
    </ul>

    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenin'>
            <div>入场管理</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-danger">1</span>辆车准备入场</div>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenout'>
            <div>离场管理</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-warning">2</span>辆车准备离开</div>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenat'>
            <div>在场车辆</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-success">5</span>辆车在场内</div>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_jiaoyi'>
            <div>交易清单</div><div class="mui-media-body body1">本周交易<span class="mui-badge mui-badge-purple">1</span>次</div>
        </li>
    </ul>
    <div class="mui-btn mui-btn-danger mui-btn-block">退出</div>
</div>