<div class="page_content userpage" id="user_html" style="" >
    <style>
        .mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
            background-color: #50CF65;
            color: #fff;
        }
        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.body1{
            height: 20px;
            line-height: 20px;
        }
        #user_html .body1{
            font-size: 20px;

        }




    </style>
    <!--<h1 class="animated infinite bounce">Example</h1>-->

    <ul class="mui-table-view">
        <li class="mui-table-view-divider" style="color: #000;background-color: transparent;border-bottom: solid 1px #aaa;"><h3 name='fullname'>停车场名称</h3></li>
        <li class="mui-table-view-cell">
            <div style="margin: 10px"><label>车位使用状态:</label><span class="mui-badge">5分钟前更新</span></div>
            <ul  class="kucunlist" name='kucunpanel' p='1'> <!--库存更新-->
                <li type='0'></li>
                <li type='1'  style="background-position-x: -91px;"></li>
                <li type='2' style="background-position-x: -182px;"></li>
            </ul>
            <div style="margin: 10px">当前有<span class="mui-badge mui-badge1" name='manager_in'>9</span>辆车已下单预付，正在路上，请注意预留!</div>
        </li>
        <li class="mui-table-view-divider" style="padding: 0">
            <ul class="mygrid">
                <li name='bt_secenin' p='1'> <!--入场管理-->
                    <div class="secenicon s_1"></div>
                    <div  class="mui-media-body body1">入场管理</div>
                    <p><span class="mui-badge" name='manager_in'>1</span>辆</p>
                </li>
                <li name='bt_secenout' p='2'>   <!--离场管理-->
                    <div class="secenicon s_2"></div>
                    <div class="mui-media-body body1">离场管理</div><p><span class="mui-badge" name='manager_out'>2</span>辆</p>
                </li>
                <li name='bt_secenat' p='1,2,8' > <!--在场管理-->
                    <div class="secenicon s_3"></div>
                    <div class="mui-media-body body1">在场车辆</div><p><span class="mui-badge"  name='manager_at'>5</span>辆</p>
                </li>
                <li name='bt_jiaoyi' p='4,8,16'>                           <!--交易清单-->
                    <div class="secenicon s_4"></div>
                    <div class="mui-media-body body1">交易清单</div><p><span class="mui-badge"  name='manager_deals'>1</span>次<span>(本周)</span></p>
                </li>
            </ul>
        </li>
        <li class="mui-table-view-cell" name='jifenpanel' p='1,2'>                  <!--积分-->
            <div><label>可以用积分:</label><span>391</span></div>
            <div>100积分兑换，手机话费100元</div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>兑换</div>
        </li>
        <li class="mui-table-view-cell" name='tixianpanel' p='16'>                         <!--提现-->
            <div><label>今日收益:</label>128.00元</div>
            <div><label>可以提现:</label>100.00元</div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>提现</div>
        </li>

        <!--<li class="mui-table-view-divider" style="padding: 0">-->
            <!--<ul class="mui-table-view mui-grid-view mui-grid-9">-->
                <!--<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenin'>-->
                    <!--<div>入场管理</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-danger" name='manager_in'>1</span>辆车准备入场</div>-->
                <!--</li>-->
                <!--<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenout'>-->
                    <!--<div>离场管理</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-warning" name='manager_out'>2</span>辆车准备离开</div>-->
                <!--</li>-->
                <!--<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4" name='bt_secenat'>-->
                    <!--<div>在场车辆</div><div class="mui-media-body body1">有<span class="mui-badge mui-badge-success"  name='manager_at'>5</span>辆车在场内</div>-->
                <!--</li>-->
                <!--<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-4 mynext" name='bt_jiaoyi'>-->
                    <!--<div>交易清单</div><div class="mui-media-body body1">本周交易<span class="mui-badge mui-badge-purple"  name='manager_deals'>1</span>次</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>

    <div name='btquit' class="mui-btn mui-btn-danger mui-btn-block" style="background-color: #de5752">退出</div>
    <!--<div name='bttestrefresh' class="mui-btn mui-btn-danger mui-btn-block">刷新当前页面[测试]</div>-->
    <!--<div name='bttestpushid' class="mui-btn mui-btn-danger mui-btn-block">提交pushid［测试］</div>-->
</div>