<div class="page_content userpage" id="user_html" style="" >
    <style>
        .mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
            background-color: #50CF65;
            color: #fff;
        }
        .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body.body1{
            height: 20px;
            line-height: 20px;
        }
        #user_html .body1{
            font-size: 20px;

        }
        #user_html .gonggao{

        }
        #user_html .gonggao.hide{
            display: none !important;
        }
        #user_html .rewardinfopanel{
            position: absolute;
            z-index: 1000;
            left: 0;
            top: 20%;
            right: 0;
            margin: 0 auto;
            width: 90%;
            border: solid 1px #ccc;
            padding: 10px;
            border-radius: 10px;
            background-color: #dd524d;
            color: #fff;
        }
        #user_html .rewardinfopanel .mui-icon-close{
            position: absolute;
            right: 1%;
            top: 1%;
        }
    </style>
    <ul class="mui-table-view">
        <li class="mui-table-view-divider" style="color: #000;background-color: transparent;border-bottom: solid 1px #aaa;"><h3 name='fullname'>停车场名称</h3></li>
        <li class="mui-table-view-divider gonggao" p='' name='rewardline' style="color: #FFF;text-align: center;padding: 10px 0;overflow: hidden;background-color: #dd524d;line-height: 35PX;">
            <span></span>
            <div style="display: inline-block;padding: 5px;margin-right: 10px;background-color: #dd524d;border: 0;" class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>详情</div>
        </li>
        <li class="mui-table-view-cell">
            <div style="margin: 5px 10px"><label>空车位状态：</label><span style="display: none" class="mui-badge">5分钟前更新</span></div>
            <ul  class="kucunlist" name='kucunpanel' p='1'> <!--库存更新-->
                <li type='0'></li>
                <li type='1'  style="background-position-x: -91px;"></li>
                <li type='2' style="background-position-x: -182px;"></li>
            </ul>
            <div style="margin: 5px 10px">现有<span class="mui-badge mui-badge1" name='manager_in'>9</span>辆车已下单，正在路上，请预留！</div>
        </li>
        <li class="mui-table-view-cell" name='jiaoyipanel' p='1,2,4,8,16'>                 <!--交易-->
            <div><label>今日订单：</label><span name='todaynum'></span>个</div>
            <div><label>订单总计：</label><span name='totalnum'></span>个</div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>查看</div>
        </li>
        <li class="mui-table-view-cell" name='tixianpanel' p='16'>                         <!--提现-->
            <div><label>今日收益：</label><span name='todaysum'></span>元</div>
            <div><label>可以提现：</label><span class="mui-badge" name='remainSum'></span>元</div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>提现</div>
        </li>
        <li class="mui-table-view-cell" name='jifenpanel' p_old='1,2' p='1,2'>                  <!--积分-->
            <div><label>可用积分：</label><span class="mui-badge" name='score'></span></div>
            <p>100积分相当于1元</p>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>兑换</div>
        </li>
    </ul>
    <div name='btquit' class="mui-btn mui-btn-danger mui-btn-block" style="background-color: #de5752">退出</div>
    <div style="height: 50px"></div>
    <!--<div name='bttestrefresh' class="mui-btn mui-btn-danger mui-btn-block">刷新当前页面[测试]</div>-->
    <!--<div name='bttestpushid' class="mui-btn mui-btn-danger mui-btn-block">提交pushid［测试］</div>-->
    <div name="rewardinfopanel" class="rewardinfopanel mui-slider-item mui-control-content mui-active loginpanel  animated zoomIn" style="display: none">
        <div class="mui-input-row reg-user">
            <h1 class="iconrow">活动公告</h1>
            <span name='btclose' class="mui-icon mui-icon-close"></span>
            <hr>
            <ul>
                <li>活动期间点击“离场确认”，将获得奖励积分500。</li>
                <li>礼品兑换中，增加这三种礼品：现金5元、20元、100元。</li>
                <li>截止时间：</li>
            </ul>
        </div>
    </div>
</div>