<div class="page_content userpage" style="" >
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">当前可用积分:<span class="mui-badge mui-badge-success">391</span></li>
    </ul>
    <ul class="mui-table-view mui-grid-view mui-grid-9" name='list'>

    </ul>

    <div class="template">
        <ul>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name='row'>
                <a href="#">
                    <span class="mui-icon mui-icon-home"></span>
                    <div class="mui-media-body">Home</div>
                </a>
            </li>
        </ul>
    </div>
</div>