<div class="page_content userpage" id="jifen_html" style="" >
    <style>
        #jifen_html{

        }
        #jifen_html .list{
            padding: 2%;
        }
        #jifen_html .list>li{
            width: 45%;
            display: block;
            border-radius: 5px;
            float: left;
            margin: 2%;
        }
        #jifen_html .list>li{
            text-align: center;
        }
        #jifen_html .mui-table-view-cell img{
            width: 100px;
            height: 64px;
            display: block;
            margin: 0 auto;
        }
        #jifen_html .mui-table-view-cell div{
            font-size: 18px;
            line-height: 30px;
        }
    </style>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <div>当前可用积分:<span class="mui-badge1" name='score'></span></div>
            <p>点击使用积分兑换指定的礼品</p>
        </li>
        <li class="mui-table-view-cell">
            <ul class="list" name='list'>

            </ul>
        </li>
    </ul>
    <div class="template">
        <ul>
            <li class="" name='row'>
                <img>
                <div name='name'>名称</div>
                <p>积分:<span name='s'></span></p>
            </li>
        </ul>
    </div>
</div>