<div class="page_content userpage" style="" id="reg_html">
    <style>
        #reg_html .reg-user{
            width: 80%;
            float: none;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        #reg_html .reg-user input{
            margin-bottom: 10px;
        }
    </style>
    <div name="loginpanel" class="mui-slider-item mui-control-content mui-active">
        <div class="mui-input-row reg-user">
            <h1 class="iconrow">嘟嘟停车</h1>
            <hr>
            <p>手机号就是您在嘟嘟停车的账号</p>

            <input name="userpanel_phone" type="text" class="mui-input-clear" placeholder="请输入您的手机号" >
            <br/>
            <input style="display: none" name="userpanel_chepai" type="number" class="mui-input-clear" placeholder="请输入您的车牌" >
            <button name="btreg" class="mui-btn mui-btn-warning mui-btn-block">确定</button>
        </div>
    </div>
</div>