<div class="page_content userpage" id="tixian_html" style="" >
    <style>
        .mui-table-view-cell label{
            display: inline-block;
            min-width: 100px;
        }
        #tixian_html .row .mui-btn{
            position: absolute;
            right: 10px;
            top: 30px;
        }
    </style>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <div>
                <span name='spanUpfront' style="display:none">已预收:<span class="mui-badge1" name='upfront'></span>元<br></span>
                可提现:<span class="mui-badge1" name='remainSum'></span>元
            </div>
            <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>提现</div>
        </li>
        <li class="mui-table-view-cell">
            <ul class="my mygrid">
                <li>
                    <div class="mui-media-body body1">今天收益</div>
                    <p><span class="mui-badge1" name='nowmoney'>198</span>元</p>
                </li>
                <li>
                    <div class="mui-media-body body1">总累计收益</div>
                    <p><span class="mui-badge1" name='totalmoney'>20030</span>元</p>
                </li>
                <li>
                    <div class="mui-media-body body1">总交易次数(次)</div>
                    <p class="mui-badge1" name='totaltimes'>2133</p>
                </li>
                <li name='bt_jiaoyi'>
                    <div class="mui-media-body body1">交易清单</div>
                    <p class="mui-badge1">>></p>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="mui-table-view">
        <li class="mui-table-view-divider">提现记录</li>
    </ul>
    <ul class="mui-table-view" name='list'>

    </ul>
    <div class="template">
        <li class="mui-table-view-cell row" name='row'>
            <div name='opttime'>1月5日 10:25</div>
            <p><label>账户名:</label><span name='accountname'>环球停车场</span></p>
            <p><label>开户银行:</label><span name='bankname'>中国招商银行徐汇支行</span></p>
            <p><label>账号:</label><span name='account'>12345656666</span></p>
            <p><label>操作人:</label><span name='optname'>工号005(琴月)</span></p>
            <p><label>提现金额:</label><span name='money' class="mui-badge1"></span>元</p>
            <div name='state1' class="mui-btn mui-btn-green  mui-pull-right" name="btaction">已提现</div>
            <div name='state0' class="mui-btn mui-btn-danger  mui-pull-right" name="btaction">申请中</div>
        </li>
        <li class="mui-table-view-cell row" name='row1'>
            <div name='opttime'>1月5日 10:25</div>
            <p>业务员送上门</p>
            <p><label>收款人:</label><span name='name'></span></p>
            <p><label>操作人:</label><span name='optname'></span></p>
            <p><label>提现金额:</label><span name='money' class="mui-badge1"></span>元</p>
            <div name='state1' class="mui-btn mui-btn-green  mui-pull-right" name="btaction">已提现</div>
            <div name='state0' class="mui-btn mui-btn-danger  mui-pull-right" name="btaction">申请中</div>
        </li>
        <li class="mui-table-view-cell row" name='nonerow'>
            <p>当前没有提现记录</p>
        </li>
    </div>
    <div style="position: absolute;width: 100%;height: 100%;left: 0;top: 0;display: none" name='infopanel'>
        <div class="mui-popover mui-active" style="display: block;">
            <ul class="mui-table-view" style="max-height: 500px">
                <li class="mui-table-view-cell" name="title">转账方式</li>
                <li class="mui-table-view-cell">
                    <div class="mui-card">
                        <form class="mui-input-group">
                            <div class="mui-input-row mui-radio">
                                <label>转入支付宝</label>
                                <input name="radio1" type="radio">
                            </div>
                            <div class="mui-input-row mui-radio">
                                <label>转入银行</label>
                                <input name="radio1" type="radio">
                            </div>
                        </form>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <form class="mui-input-group">
                        <div class="mui-input-row">
                            <label>公司抬头</label>
                            <input type="text" placeholder="公司抬头">
                        </div>
                        <div class="mui-input-row">
                            <label>账户</label>
                            <input type="text" placeholder="账户名称">
                        </div>
                        <div class="mui-input-row">
                            <label>提取金额</label>
                            <input type="text" placeholder="要换入的金额">
                        </div>
                    </form>
                </li>
                <li class="mui-table-view-cell">
                    <div class="mui-btn mui-btn-success mui-btn-block" style="position: static;-webkit-transform: translateY(0%);transform: translateY(0%);" name='btaction'>提交</div>
                </li>
                <li class="mui-table-view-cell">
                </li>
            </ul>
        </div>
        <div name="make" class="mui-backdrop mui-active"></div>
    </div>
</div>