<div class="page_content userpage" id="tixianop_html" style="" >
    <style>
        #tixianop_html input{
            margin: 0;
            width: 70%;
        }
    </style>
    <ul class="mui-table-view" name='list'>
        <li class="mui-table-view-divider">开户银行：</li>
        <li class="mui-table-view-cell">
            <input name="bankname" type="text" class="mui-input-clear login-input" placeholder="请输入银行及营业部" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-divider">银行账户号码：</li>
        <li class="mui-table-view-cell">
            <input name="account" type="text" class="mui-input-clear login-input" placeholder="请输入账户号码" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-divider">账户名：</li>
        <li class="mui-table-view-cell">
            <input name="accountname" type="text" class="mui-input-clear login-input" placeholder="请输入单位名或姓名" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-divider">提取金额：(最多提取<span class="mui-badge1" name='maxmoney'></span>元)</li>
        <li class="mui-table-view-cell">
            <input name="money" type="text" class="mui-input-clear login-input" placeholder="请输入要提取的金额" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-divider">申请人：</li>
        <li class="mui-table-view-cell">
            <input name="name" type="text" class="mui-input-clear login-input" placeholder="请输入您的姓名" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-divider">联系电话：</li>
        <li class="mui-table-view-cell">
            <input name="phone" type="text" class="mui-input-clear login-input" placeholder="请输入您的联系电话" value="" data-input-clear="">
        </li>
        <li class="mui-table-view-cell">
            <p>收到申请后，我们将在1至2个工作日内转账给您</p>
        </li>
    </ul>
    <div name="btsubmit" class="mui-btn mui-btn-danger mui-btn-block" style="background-color: #de5752">确认提交</span></div>
    <div style="height: 80px"></div>
</div>