<div class="page_content userpage" style="" id="parkinfo_html">
<style>
        .daohang_contaion1{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            /*display: box;*/
            /*display: -webkit-box;*/
            /*display: -moz-box;*/

            /*-moz-box-orient:vertical;*/
            /*-webkit-box-orient:vertical;*/
            /*box-orient:vertical;*/
            /*position: absolute;*/
        }
        .daohang_contaion1>*{
            width: 100%;
            -moz-box-flex: auto;
            -webkit-flex: auto;
            -ms-flex: auto;
             flex: auto;
            height: auto;
        }
        .daohang_contaion1 .daohanginfo{
            width: 100%;
            overflow: hidden;
            background-color: #fff;
            -moz-box-flex:1;
            -webkit-box-flex:1;
            box-flex:1;
        }
        .daohang_contaion1 .daohanginfo .active{
            background-color: rgba(0,0,0,.1);
        }
    #parkinfo_html img{
        min-height: 240px;
    }
    </style>
    <div class="daohang_contaion1">
        <img name='bg' src="" width="100%"/>
        <div class="daohanginfo">
            <ul class="mui-table-view" name='list'>
                <li style="display: none" class="mui-table-view-cell" name='name'></li>
                <li class="mui-table-view-cell">
                <span name='address' style="-webkit-user-select: initial;"></span>
                <button style="background-color:transparent" name="btdaohang" class="mui-btn mui-btn-primary mui-btn-link mui-pull-right">导航</button>
                </li>
                <li class="mui-table-view-cell" name='address2'>
                	<p></p>
                </li>
            </ul>
        </div>
    </div>
    
    <div name="parkinfo_pagecontainer" class="pagecontainer" style="display: none;z-index: 500;-webkit-transform: none;">
        <div class="mui-popover mui-active" style="display: block;position:relative;">            
            <ul class="mui-table-view">
                <li name='btclose' class="mui-table-view-cell" style="padding: 8px 15px;">
                    请选择导航方式：
                    <span class="mui-icon mui-icon-close" style="position:absolute;right:5px;top:5px;"></span>
                </li>
                    <li class="mui-table-view-cell" name="nav_baidu">
                    百度地图：<p>需要已安装“百度地图App”</p><button name="btbaidu" class="mui-btn mui-btn-success mui-pull-right">导航</button>
                    </li>
                    <li class="mui-table-view-cell" name="nav_gaode">
                    高德地图：<p>需要已安装“高德地图App”</p><button name="btgaode" class="mui-btn mui-btn-success">导航</button>
                    </li>
                    <li class="mui-table-view-cell" name="nav_ios" style="display:none;">
                    苹果地图：<p>使用苹果官方地图App</p><button name="btios" class="mui-btn mui-btn-success">导航</button>
                    </li>
                    <li class="mui-table-view-cell" name="nav_local">
                    路线规划：<p>显示行车路线和提示</p><button name="btios" class="mui-btn mui-btn-success">导航</button>
                    </li>
            </ul>
        </div>
        <div name='make' class="mui-backdrop mui-active"></div>
    </div>
    
</div>