<div class="page_content userpage park-info" id="parkinfo_html">
    <style></style>
    <div name='bgbox' class="pic-box" style="display:none">
    <img name='bg' src=""/>
    </div>
    <div name="scrollparent" style="overflow:hidden">
    <ul name="infoarea" class="mui-table-view mui-table-view-chevron">
        <li class="mui-table-view-cell">
            <a class="mui-btn mui-btn-primary mui-btn-outlined" name="btdaohang">导航</a>
            <h4 name='address'>网友对停车场描述</h4>
            <p name='address2'></p>
        </li>
        <li class="mui-table-view-cell">
            <span class="mui-icon duduche icon-money"></span>
            <p name="rules"></p>
            <p class='mui-ellipsis activity' name='activity'></p>
        </li>
        <li class="mui-table-view-cell">
            <span class="mui-icon duduche icon-parking"></span>
            <p name='spaces'>现在是<span name='numberstatus1'></span><mytag style="display:none">，预计<span name='numberstatus2t'></span>后<span name='numberstatus2'></span></mytag></p>
        </li>
        <li class="mui-table-view-cell">
            <span class="mui-icon duduche icon-tag"></span>
            <p class="tags" name="tags">
            </p>
        </li>
    </ul>
    </div>
    <div class="reserve" name="reserve" style="z-index:99;display:none;">
        <a class="mui-btn mui-btn-primary mui-btn-block">立即预订</a>
    </div>
    <div class="template">
        <span class="tags-item" name="tags-item"></span>
    </div>
    <!--弹出菜单-->
    <div class="mui-backdrop mui-backdrop-action mui-active" style="display:none;" id="map-list-bg"></div>

    <div id="map-list" class="mui-popover mui-popover-action mui-popover-bottom" style="z-index:100;display:block;">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                    <h4>百度地图</h4>
                    <p>需要安装“百度地图APP”</p>
                    <button name="btbaidu" class="mui-btn mui-btn-primary mui-btn-outlined">导航</button>
            </li>
            <li class="mui-table-view-cell">
                    <h4>高德地图</h4>
                    <p>需要安装“高德地图APP”</p>
                    <button name="btgaode" class="mui-btn mui-btn-primary mui-btn-outlined">导航</button>
            </li>
            <li class="mui-table-view-cell">
                    <h4>路线规划</h4>
                    <p>行车路线规划及提示</p>
                    <button name="btlocal" class="mui-btn mui-btn-primary mui-btn-outlined">导航</button>
            </li>
            <li class="mui-table-view-cell btn-cancel">
                <a name="close_map-list"><b>取消</b></a>
            </li>
        </ul>
    </div>
    
</div>