<div class="page_content userpage" style="" id="orderpay_html">
<style>
    #orderpay_html p{
                margin: 10px;
    }

</style>
    <div>
        <ul class="mui-table-view">
            <!--<li class="mui-table-view-divider">停车场信息:</li>-->
            <li class="mui-table-view-cell">
                <h3 name='name'></h3>
                <table style="width: 100%;table-layout: fixed">
                    <tr><td style="width: 80px"><label>价格:</label></td><td><p><span name='rules'></span></p></td></tr>
                    <tr><td><label>备注:</label></td><td><p><span name='note'></span></p></td></tr>
                    <tr><td><label>地址:</label></td><td><p><span name='address'></span></p></td></tr>
                </table>
            </li>

            <!--<li class="mui-table-view-cell"><label>价格:</label><span name='rules'></span></li>-->
            <!--<li class="mui-table-view-cell"><label>备注:</label><span name='note'></span></li>-->
            <!--<li class="mui-table-view-cell"><label>地址:</label><span name='address'></span></li>-->
            <!--<li class="mui-table-view-cell"><label>预计停车</label>:<span>xxx小时</span></li>-->

            <li class="mui-table-view-cell">
                <div class="payinfo" style="text-align: center"><label>预付金额:</label><span name='prepay'>xxx</span>元</div>
                <div style="padding-top: 20px;text-align: center"><span name='paytime'></span></div>
            </li>
        </ul>
        <p>请不要关闭本界面,停车场入口可能需要您出示当前界面.</p>
        <button name="btpay" style="bottom: 0;position: absolute;left: 0;right: 0" class="mui-btn mui-btn-success mui-btn-block">结算付款>></button>
    </div>
</div>