<div class="page_content userpage" style="" id="myorder_html">
    <style>
    </style>
    <header class="mui-bar mui-bar-nav" style="position: relative;display:none;">
        <h1 class="mui-title">我的订单</h1>
    </header>
    <div name='scrollpanel' style="overflow:hidden;">
        <ul class="mui-table-view" name='list'>

        </ul>
        <div class="template">
            <ul>
                <li class="mui-table-view-cell row" name="row">
                    <div class="mui-navigate-right">
                        <h4>
                            <span class="title" name="title"></span><span style="float: right" class="mui-badge mui-badge-success">已付：<b name="cost"></b>元</span>
                        </h4>
                        <p><span class="mui-icon duduche icon-place"></span><span name="address"></span></p>
                        <p><label>开始计费：</label><span name="time"></span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>