<div class="page_content userpage" style="" id="myorder_html">
    <style>
        #myorder_html{
            width: 100%;
            height: 100%;
        }
        #myorder_html .row .time{

        }
        #myorder_html .row .title,#myorder_html .row .info{
            padding-left: 20px;
        }

        .myorder_html_contaion{
            width: 100%;
            height: 100%;
            position: absolute;
        }

    </style>
    <div class="myorder_html_contaion">
        <ul class="mui-table-view">
            <li class="mui-table-view-divider">进行中订单</li>
        </ul>
        <ul class="mui-table-view" name='list'>

        </ul>
        <div class="template">
            <ul>
                <li class="mui-table-view-cell row" name='row'>
                    <p class="time" name='time'>2015 1月 21号</p>
                    <h4 class="title" name='title'>伸大厦停车场</h4>
                    <p class="info" name='info'>已经停车:<span>2小时8分钟</span></p>
                    <button class="mui-btn mui-btn-success" name='btpay'>缴费结算</button>
                </li>
            </ul>
        </div>
        <button style="bottom: 5%;position: absolute" class="mui-btn mui-btn-success mui-btn-block">查看你历史订单>></button>
    </div>

</div>