<div class="page_content userpage" style="" id="couponget_html">
    <style>
        #couponget_html{}
    </style>
    <div class="bg">
        <div class="panel_info" name=panel_info style="display: none">
              <ul class="mui-table-view" style="display: none">
                <li class="mui-table-view-cell">
                    <span>当前红包的code:<span name='code_test'></span></span>
                </li>
            </ul>
            <div class="title" ></div>
            <div class="quan0"></div>
            <div name='btget' class="btget"></div>
        </div>
        <div class="panel_result" name=panel_result style="display: none">
            <div class="title" ></div>
            <div class="quan" name='row0'><span name='money'>1</span></div>
            <div class="quan" name='row1'><b>壹元停车</b><p>你停车，我买单，停车只要1元！</p></div>
            <div class="zhiwen">
                <p>具体使用规则，请登录<b style="color: #2770D9;">嘟嘟停车</b>后查看<span style="color: red">↓↓↓</span></p>
                <img name='zhiwenimg' src="">
            </div>
        </div>
        <div class="panel_none" name=panel_none style="display: none">
            <div class="title1" ></div>
            <div class="text" name='info'></div>
            <div class="zhiwen">
                <img name='zhiwenimg' src="">
            </div>
        </div>
    </div>
</div>