<div class="page_content userpage" style="" id="couponget_html">
    <style>
        #couponget_html{}
    </style>
    <div class="bg">
        <div class="panel_info" name=panel_info style="display: none">
              <ul class="mui-table-view" style="display: none">
                <li class="mui-table-view-cell">
                    <span>当前红包的code:<span name='code_test'></span></span>
                </li>
            </ul>
            <div class="title" ></div>
            <div class="quan0"></div>
            <div name='btget' class="btget"></div>
        </div>
        <div class="panel_result" name=panel_result style="display: none">
            <div class="title" ></div>
            <div class="quan"><span>1</span></div>
        </div>
        <div class="panel_none" name=panel_none style="display: none">
            <div class="title1" ></div>
            <div class="text" name='info'></div>
        </div>

        <div class="mui-btn mui-btn-warning" name='bttest' style="position: absolute;bottom: 0;right: 0">测试领红包</div>
    </div>
</div>