<div class="page_content userpage" style="" id="userinfo_html">
    <style>
    .pailist .more{
        color:lightgray;
    }
    [name=row] input{
        width:60%;
    }
    [name=btsave]{
        margin-right:5px;
    }
    </style>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <span class="mui-icon duduche icon-user_active"></span>
            <label name="telphone"></label>
            <button name="btreg" class="mui-btn mui-btn-primary">切换账号</button>
        </li>
    </ul>
    <ul class="mui-table-view pailist" name="pailist">
    </ul>
    <button name="btquit" style="display:none;margin-left:5%;width:90%;" class="mui-btn mui-btn-success mui-btn-block">确 定</button>
    <ul name="coupon" class="mui-table-view" style="display:none;">
        <li class="mui-table-view-cell">
            <div class="mui-navigate-right">
                <h4>我的优惠券(<strong></strong>)</h4>
            </div>
        </li>
    </ul>
    <ul class="mui-table-view" name='order' style="display:none;">
        <li class="mui-table-view-divider">
            <div class="mui-navigate-right more" name="myorder">全部</div>
            我的订单
        </li>
        <li class="mui-table-view-cell row" name="row">
            <div class="mui-navigate-right">
                <h4>
                    <span class="title" name="title"></span><span style="float: right" class="mui-badge mui-badge-success">已付：<b name="cost"></b>元</span>
                </h4>
                <p><span class="mui-icon duduche icon-place"></span><span name="address"></span></p>
                <p><label>开始计费：</label><span name="time"></span></p>
                <div name="btdetail" style="width:86%;height:100%;position:absolute;right:0px;top:0px;"></div>
            </div>
        </li>
    </ul>
    
    <div class="template">
        <ul>
            <li name="row_head" class="mui-table-view-divider">
                <div name="row_head_hint" class="more">点击切换默认车牌</div>
                我的车牌
            </li>
            <li name="row" class="mui-table-view-cell">
                <a><span class="mui-icon duduche icon-compose"></span></a>
                <b></b>
                <div class="table">
                <input maxlength="20" type="text">
                <div name="btcancel" class="mui-btn mui-btn-red mui-pull-right">取消</div>
                <div name="btsave" class="mui-btn mui-btn-success mui-pull-right">修改</div>
                </div>
            </li>
            <li name="row_tail" class="mui-table-view-cell">
                <input name="input_add" type="text" maxlength="20" placeholder="添加新车牌">
                <div name="btadd" class="mui-btn mui-btn-success">添加</div>
            </li>
        </ul>
    </div>
</div>