<div class="page_content userpage" style="" id="myorderdetail_html">
    <style>
        #myorderdetail_html{
            width: 100%;
            height: 100%;
        }
        #myorderdetail_html .row .time{

        }
        #myorderdetail_html .row .title,#myorder_html .row .info{
            padding-left: 20px;
        }

        .myorderdetail_html_contaion{
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .order_pay, .order_wait, .no_pay{
            width: 100%;
            height: 100%;
        }
    </style>
    <div class="myorderdetail_html_contaion">
        <div class="order_no" name='order_no'>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><p>当前没有需要缴费的清单</p></li>
            </ul>
        </div>
        <div class="order_pay" name='order_pay'>
            <ul class="mui-table-view">
                <li class="mui-table-view-divider"><h3 name='title'></h3></li>
                <li class="mui-table-view-cell">开始时间:<span name='starttime'></span></li>
                <li class="mui-table-view-cell">停放时间:<span name='stoptime'></span></li>
                <li class="mui-table-view-cell">总计金额:<span name='totalFee'></span></li>
                <li class="mui-table-view-cell">预付金额:<span name='preFee'></span></li>
                <li class="mui-table-view-cell">需要付款金额:<span name='remainFee'></span></li>
            </ul>
            <div style="bottom: 0;margin:0;position: absolute">
                <button name="btpay"  class="mui-btn mui-btn-success mui-btn-block">结算付款>></button>
                <p>请在支付结清后的15分钟内驶离至出口,否则可能需加附费用.</p>
            </div>
        </div>
        <div class="order_wait" name='order_wait'>
            <ul class="mui-table-view">
                <li class="mui-table-view-divider"><h3>费用已结清</h3></li>
                <li class="mui-table-view-cell">离场剩余时间:<span name='rtime'></span></li>
                <li class="mui-table-view-cell">所在停车场:<span name='partname'></span></li>
                <li class="mui-table-view-cell"><p>请不要关闭本界面,出口管理人员可能会需要本界面信息</p></li>
            </ul>
        </div>
    </div>
</div>