<div class="page_content userpage" style="" id="myorderdetail_html">
    <style>
        #myorderdetail_html{
            width: 100%;
            min-height: 100%;
        }
        #myorderdetail_html .row .time{

        }
        #myorderdetail_html .row .title,#myorder_html .row .info{
            padding-left: 20px;
        }

        .myorderdetail_html_contaion{
            width: 100%;
            min-height: 100%;
            /*position: absolute;*/
            background-color: #f0f0f0;
        }
        #myorderdetail_html .order_pay, .order_wait, .no_pay{
            width: 100%;
            min-height: 100%;
            position: relative;
        }
        #myorderdetail_html .order_pay li{
            padding: 10px 15px;
        }
        #myorderdetail_html .order_pay li.payinfo{
            padding: 15px;
        }
        #myorderdetail_html  .lianxipanel{

        }
        #myorderdetail_html  .lianxipanel>li{
            padding: 10px 15px;
        }
        #myorderdetail_html  .lianxipanel .other{
            display: none;
        }
        #myorderdetail_html  .lianxipanel.all .other{
            display: block;
        }
        #myorderdetail_html  .lianxipanel.all .btmore_none{
            display: block;
        }
        #myorderdetail_html  .lianxipanel.all .btmore{
            display: none;
        }
        #myorderdetail_html  .lianxipanel .btmore_none{
            display: none;
        }
        #myorderdetail_html  .lianxipanel .btmore{
            display: block;
        }
        #myorderdetail_html  .lianxipanel>li{
            position: relative;
        }
        #myorderdetail_html  .lianxipanel>li>a{
            position: absolute;
            top: 0px;
        }
        #myorderdetail_html  .lianxipanel>li.other>a.btmore{
            display: none;
        }
        #myorderdetail_html  .lianxipanel>li.other>a.btmore_none{
            display: none;
        }
        #myorderdetail_html  .lianxipanel>li>a.btlianxi{
            right: 70px;
        }
        #myorderdetail_html  .lianxipanel>li>a.btmore{
            right: 0px;
        }
        #myorderdetail_html  .lianxipanel>li>a.btmore_none{
            right: 0px;
        }
        #myorderdetail_html li a .mui-icon{
            font-size: 20px;
        }
        #myorderdetail_html .myorderdetail_html_contaion>*{
            display: none;
        }
        #myorderdetail_html [name=dqpanel] .selectrow{

        }
        #myorderdetail_html [name=dqpanel] .mui-active>span{
            background-color: #000;
        }
        #myorderdetail_html [name=dqpanel] .selectrow>span{
            position: absolute;
            top: 4px;
            left: 20px;
            display: inline-block;
            width: 28px;
            height: 26px;
            -webkit-appearance: none;
            background-color: transparent;
            border: solid 1px #16a7de;
            border-radius: 50%;
        }
        .couponlist .mui-active{
            background-color: #fff;
        }
        #myorderdetail_html [name=dqpanel]  .mui-active>.selectrow>span{
            background-color: #16a7de;
        }


    </style>
    <div class="myorderdetail_html_contaion">
        <div class="order_no" name='order_no'>
            <ul class="mui-table-view">
                <li class="mui-table-view-divider"><h3>当前没有需要缴费的清单!</h3></li>
            </ul>
        </div>
        <div class="order_pay" name='order_pay'>
            <ul class="mui-table-view">
                <li class="mui-table-view-divider"><h3 name='title'></h3></li>
                <li class="mui-table-view-cell"><label>开始时间：</label><span name='starttime'></span></li>
                <li class="mui-table-view-cell"><label>停放时间：</label><span name='stoptime'></span></li>
                <li class="mui-table-view-cell"><label>总计金额：</label><span name='totalFee'></span></li>
                <li class="mui-table-view-cell"><label>已付金额：</label><span name='preFee'></span></li>
                <li class="mui-table-view-cell mui-collapse" name='dqpanel'>
                    <a class="mui-navigate-right">
                    <label><span class="dquicon"></span>抵扣券：</label><span name='couponinfo'>抵扣信息</span>
                    </a>
                    <ul class="mui-table-view couponlist" name='list'>
                        <li class="mui-table-view-cell mui-collapse">
                            <div class="mui-input-row mui-radio mui-left">
                                <label>Radio</label>
                                <input name="radio1" type="radio">
                            </div>
                        </li>
                        <li class="mui-table-view-cell mui-collapse">
                            <div class="mui-input-row mui-radio mui-left">
                                <label>Radio</label>
                                <input name="radio1" type="radio">
                            </div>
                        </li>
                    </ul>
                    <div class="template">
                        <ul>
                            <li class="mui-table-view-cell" name='row-1'>
                                <div class="mui-input-row mui-radio mui-left selectrow">

                                    <label>使用该券，你只需要在支付一元</label>
                                    <span></span>
                                </div>
                            </li>
                            <li class="mui-table-view-cell" name='row0'>
                                <div class="mui-input-row mui-radio mui-left selectrow">
                                    <label>使用抵扣<span name='money'>{0}</span>元</label>
                                    <span></span>
                                </div>
                            </li>
                            <li class="mui-table-view-cell" name='rownone'>
                                <p>你当前没有可以使用的抵扣券</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell payinfo"><label>需付金额：</label><span name='remainFee'></span></li>
                <li class="mui-table-view-cell">
                    <p>以下管理员为您服务</p>
                    <ul  name='lianxipanel' class="lianxipanel"></ul>
                </li>
            </ul>
            <p style="padding: 20px">请在支付结清后的15分钟内驶离至出口,否则可能需加付费用.</p>
            <div style="height: 50px;"></div>
            <button style="position: absolute;bottom: 0;left: 0;right: 0" name="btpay"  class="mui-btn mui-btn-success mui-btn-block">结算付款>></button>
        </div>
        <div class="order_wait" name='order_wait'>
            <ul class="mui-table-view">
                <li class="mui-table-view-divider"><h3>费用已结清！</h3></li>
                <li class="mui-table-view-cell"><p>请不要关闭本界面,出口管理人员可能会需要本界面信息</p></li>
                <li class="mui-table-view-cell">离场剩余时间：<span name='rtime'></span></li>
                <li class="mui-table-view-cell">所在停车场：<span name='partname'></span></li>
                <li class="mui-table-view-cell">
                    <p>以下管理员为您服务</p>
                    <ul  name='lianxipanel' class="lianxipanel"></ul>
                </li>
                <li class="mui-table-view-divider" style="display: none">
                    如果你已经离开，但是管理员并未设置当前离场，你可以设置[离场]
                </li>
            </ul>
            <button style="display: none" class="mui-btn mui-btn-primary mui-btn-block" name='btleave'>离场</button>
        </div>
        <div class="template">
            <ul>
                <li  name='lianxipanel_row'>
                    <label name='name'>管理员</label>
                    <a class="mui-btn mui-btn-success btlianxi" name="btlianxi"><span class="mui-icon mui-icon-phone"></span></a>
                    <a class="mui-btn mui-btn-warning btmore" name="btmore"><span class="mui-icon mui-icon-arrowdown"></span></a>
                    <a class="mui-btn mui-btn-warning btmore_none" name="btmore_none"><span class="mui-icon mui-icon-arrowup"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
