<div class="page_content userpage" style="" id="myorderdetail_html">
    <style>
        .lianxipanel {padding:0; margin:0;}
        .lianxipanel li {list-style:none; margin-bottom:10px;}
        .lianxipanel li a {display:inline-block;}
        .btlianxi {min-width:110px;}
        #myorderdetail_html{width: 100%; min-height: 100%;}
        #myorderdetail_html .row .title,#myorder_html .row .info{padding-left: 20px;}
        .myorderdetail_html_contaion{width: 100%; min-height: 100%; background-color: #f0f0f0;}
        #myorderdetail_html .order_pay, .no_pay{width: 100%; min-height: 100%; position: relative;}
        #myorderdetail_html .lianxipanel .other{display: none;}
        #myorderdetail_html .lianxipanel.all .other{display: block;}
        #myorderdetail_html .lianxipanel>li{position: relative;}
        #myorderdetail_html li a .mui-icon{font-size: 20px;}
        #myorderdetail_html .myorderdetail_html_contaion>*{display: none;}
        #myorderdetail_html .mui-table-view-cell>p{padding-top: 3px; padding-bottom: 3px;}
        .pagecontainer>.mui-popover {position: absolute; top: 50%; left: 50%; margin-top: -120px; margin-left: -140px;}
    </style>
    
    <div name="orderdetail_pagecontainer" class="pagecontainer" style="display: none;-webkit-transform: none;">
        <div class="mui-popover mui-active" style="display: block;position:relative;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <h4 name='btclose'>如果停放到现在：<span class="mui-icon mui-icon-close" style="position:absolute;right:5px;top:5px;"></span></h4><hr>
                    
                    <label>开始时间：</label><span name='starttime'></span><p></p>
                    <label>停放时间：</label><span name='stoptime'></span><p></p>
                    <label>总计金额：</label><span name='totalFee'></span><p></p>
                    <label>已付金额：</label><span name='preFee'></span>
                </li>
                <li class="mui-table-view-cell">
                    <label>还需支付：</label>
                    <input name="remainFee" type="text" style="width:70px;">
                        <button name="btpay"  class="mui-btn mui-btn-success">我要付款</button>
                        </li>
            </ul>
        </div>
        <div name='make' class="mui-backdrop mui-active"></div>
    </div>
    
    <div class="myorderdetail_html_contaion">
        <div name='waittime' style="display: block;height: 500px;line-height: 500px;text-align: center;background-color: #fff;">等待服务器确认...
            <div class="mui-spinner">
            				<div class="mui-spinner-indicator mui-spinner-indicator1"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator2"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator3"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator4"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator5"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator6"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator7"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator8"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator9"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator10"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator11"></div>
            				<div class="mui-spinner-indicator mui-spinner-indicator12"></div>
            			</div>
        </div>
        
        <div class="order_pay" style="display: block;" name="order_pay">
            <header class="mui-bar mui-bar-nav" style="position: relative;display:none;">
                <h1 class="mui-title">订单明细</h1>
            </header>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <h4 name="title">示例停车场</h4>
                    <p><span class="mui-icon duduche icon-place"></span><span name="address">停车场地址</span></p>
                    <p name="parkrule">
                    <span class="price">X元/小时</span>，封顶X元
                    </p>
                    <button name="btdaohang" class="mui-btn mui-btn-primary mui-btn-outlined">入口指示</button>
                </li>
                <li class="mui-table-view-cell">
                    <h4>已付金额：<span name="cost">X</span>元</h4>
                    <p><span name="costdetail">实付<b name="cost_r">X</b>元，嘟嘟为您支付<b name="cost_c">X</b>元</span></p>
                    <a class="mui-btn mui-btn-success" name="btdetail" style="top: 27px;">费用结算</a>
                    <p></p>
                    <p><label>开始计费：</label><span name="starttime">2015-01-01 15:30:00</span></p>
                    <p><label>可停放至：</label><span name="endtime">2015-01-01 17:30:00</span></p>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <p>以下管理员为您服务（请报“<b>来自嘟嘟停车</b>”）</p>
                </li>
                <li class="mui-table-view-cell">
                    <ul name="lianxipanel" class="lianxipanel">
                        <li name="lianxipanel_row">
                            <a class="mui-btn mui-btn-success btlianxi" name="btlianxi" href="tel:120">
                                <span class="mui-icon duduche icon-phone"></span>
                                <label name="name">牛师傅</label>
                            </a>
                        </li>
                        <li name="lianxipanel_row" class="other">
                            <a class="mui-btn mui-btn-success btlianxi" name="btlianxi" href="tel:120">
                                <span class="mui-icon duduche icon-phone"></span>
                                <label name="name">马师傅</label>
                            </a>
                        </li>
                        <li name="lianxipanel_row" class="other">
                            <a class="mui-btn mui-btn-success btlianxi" name="btlianxi" href="tel:120">
                                <span class="mui-icon duduche icon-phone"></span>
                                <label name="name">羊师傅</label>
                            </a>
                        </li>
                        <li name="lianxipanel_row">
                            <a class="mui-btn mui-btn-success btlianxi" name="btlianxi" href="tel:120">
                                <span class="mui-icon duduche icon-phone"></span>
                                <label name="name">嘟嘟客服</label>
                            </a>    
                        </li>
                    </ul>
                    
                    <a class="mui-btn mui-btn-warning btmore" name="btmore" style="float:right;top: 32px;">还有<b>X</b>位师傅<span class="mui-icon mui-icon-arrowdown"></span></a>
                </li>
            </ul>
        </div>
        <div class="template">
            <ul>
                <li name='lianxipanel_row'>
                    <a class="mui-btn mui-btn-success btlianxi" name="btlianxi" href="tel:120">
                        <span class="mui-icon duduche icon-phone"></span>
                        <label name="name">牛师傅</label>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
