<div class="page_content userpage" id="secen_at_html" style="" >
    <ul class="mui-table-view" name='list'>

    </ul>
    <div class="mui-btn mui-btn-success mui-btn-block" name='btrefresh'>刷新在场记录</div>
    <div class="template">
        <ul>
            <li class="mui-table-view-cell" name='row'>
                <div name='cardid' class="title"></div>
                <p><label>开始时间:</label><span name='time'>10:45</span></p>
                <a class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>联系车主</a>
            </li>
            <li class="mui-table-view-cell" name='row_none'>
                <h3><p>当前没有在场记录.</p></h3>
            </li>
        </ul>
    </div>
</div>