<div class="page_content userpage" style="" id="daohang_html">
    <style>
        .daohang_contaion{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .daohang_contaion .map{
            width: 100%;
            height: 100%;
        }
        .daohang_contaion .daohanginfo{
            position: absolute;
            width: 100%;
            height: 40%;
            overflow: hidden;
            bottom: 0;
            background-color: rgba(0,0,0,.5);
            color: #fff;
        }
    </style>
    <div class="daohang_contaion">
        <div id="daohang_html_mapid" class="map"></div>
        <div class="daohanginfo"></div>
    </div>
</div>