.mui-bar-tab .mui-tab-item .mui-icon {
			top: 2px;
			width: 40px !important;
			height: 40px !important;
			padding-top: 0;
			padding-bottom: 0;
            border: solid 2px #ccc;
            border-radius: 50%;
            line-height: 35px;

		}
        .mui-bar-tab .mui-tab-item.mui-active .mui-icon{
            border: solid 2px red;
        }
	
        html{
            height: 100%;
        }
        body{
            height: 100%;
            width:100%;
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 16px;
            background-color: #ccc;
            font-family: 黑体;
        }
        .mui-btn-green, .mui-btn-positive, .mui-btn-success{
            background-color: #16a7de;
            border: 1px solid #16a7de;
        }
        .mui-btn-block {
            margin: 10px auto;
            width: 95%;
            font-size: 20px;
        }
        p{
            color:#707070;
            line-height: 1.5;
        }
        .mui-btn{
            font-size: 16px;
        }
        label{
            font-size: 16px;
            display: inline-block;
            margin-right: 10px;
        }
        .mui-table-view-cell>div.mui-btn{
            line-height: normal;
        }
        .mui-table-view-cell>div{
            line-height: 25px;
        }
        .template{
            display: none;
        }
		
	.mui-bar-top{
		position: absolute;
		right: 0;
		left: 0;
		z-index: 10;
		height: 44px;
		padding-right: 10px;
		padding-left: 10px;
		/*background-color: rgba(254,60,77,1);*/
		background-color: #16a7de;
		border-bottom: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		color:#fff !important;
		}
		.mui-bar-top>a{
		opacity: 1;
		color:#fff !important;
		}
		.mui-bar-top>h1{
		color:#fff !important;
		}
        .anim_rightin{
            -webkit-animation-name:anim_rightin;
        }
        .anim_rightin_child{
            -webkit-animation-name:anim_rightin_child;
        }
        .anim_rightin_un_child{
            -webkit-animation-name:anim_rightin_un_child;
        }
        .anim_rightin_un{
            -webkit-animation-name:anim_rightin_un;
        }
        .anim_leftin{
            -webkit-animation-name:anim_leftin;
        }
        .anim_leftin_child{
            -webkit-animation-name:anim_leftin_child;
        }
        .anim_leftin_un_child{
            -webkit-animation-name:anim_leftin_un_child;
        }
        .anim_leftin_un{
            -webkit-animation-name:anim_leftin_un;
        }
        @-webkit-keyframes anim_rightin{
            0%{-webkit-transform:translateX(100%);}
            100%{-webkit-transform:translateX(0);}
        }
        @-webkit-keyframes anim_rightin_child{
            0%{-webkit-transform:translateX(0);}
            100%{-webkit-transform:translateX(-50%);}
        }
        @-webkit-keyframes anim_rightin_un_child{
            0%{-webkit-transform:translateX(-50%);}
            100%{-webkit-transform:translateX(0%);}
        }
        @-webkit-keyframes anim_rightin_un{
            0%{
                -webkit-transform:translateX(0);
            }
            100%{-webkit-transform:translateX(100%);}
        }
        @-webkit-keyframes anim_leftin{
            0%{-webkit-transform:translateX(-100%);}
            100%{-webkit-transform:translateX(0);}
        }
        @-webkit-keyframes anim_leftin_child{
            0%{-webkit-transform:translateX(0);}
            100%{-webkit-transform:translateX(50%);}
        }
        @-webkit-keyframes anim_leftin_un_child{
            0%{-webkit-transform:translateX(50%);}
            100%{-webkit-transform:translateX(0%);}
        }
        @-webkit-keyframes anim_leftin_un{
            0%{
                -webkit-transform:translateX(0);
            }
            100%{-webkit-transform:translateX(-100%);}
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        head{
            /*opacity: .5;*/
        }
        nav{
            /*opacity: .5;*/
        }
        .pagecontainer{/***page容器 该容器决定了page的 宽高*/
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 100;
            -webkit-transform:translateX(0);
            -webkit-animation-duration:.3s;
            -webkit-animation-iteration-count:1;
            -webkit-animation-timing-function:ease
        }
        .page{          /**每个页面的最外层样式 必须放在 pagecontaion中**/
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .mytabs{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 0;
        }
        .mytabs>div{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
        }
		.mui-bar{
            -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3) !important;
            box-shadow: 0 0 1px rgba(0,0,0,.3) !important;
		}
        .mytabs>div>*{
            background-color: #fff;
			min-height:100%;
        }
        .page_body{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            left: 0;
            padding: 0;
            margin: 0;
            background-color: #fff;
        }
        .page_content{
			background-color: #fff;
			min-height:100%;
        }
		.page_content:before{
			height: 100%;
			position: absolute;
			top: -100%;
			background-color: #fff;
			width: 100%;
			content: ' ';
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: 100% auto;
		}
        .nva_row{
            overflow: hidden;
            margin-top: 5px;
        }
        .nva_row>ul{
            width: 560px;
            overflow: hidden;
        }
        .nva_row>ul>li{
            float: left;
            width: 70px;
        }
        .nva_row>ul>li>img{
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
			border-radius: 5px;
        }
        .nva_row>ul>li>span{
            display: block;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 16px;
        }
        .typerow{

        }
        .typerow>ul{

        }
        .typerow>ul>li{
            float: left;
            width: 80px;
        }
        .typerow>ul>li>img{
            width: 60px;
            height: 60px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
        }
        .typerow>ul>li>span{
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        h5{
            border-top: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
            padding: 10px;
			margin-top: 0px;
			font-size: 16px;
        }
         #alert_pagecontainer, #pop_pagecontaion ,.pagecontainer{
            position: absolute !important;
            left: 0;
            top: 0;
        }
        #pop_pagecontaion .page{
            position: absolute;
            width: 100%;
            top: 44px;
            bottom: 0;
            left: 0;
            height: auto;
        }
        .toppagecontainer{
            position: absolute;
            left: 0;
            top: 0;
        }
        .toppagecontainer .page{
            position: absolute;
            width: 100%;
            top: 44px;
            bottom: 0;
            left: 0;
            height: auto;
			background-color: #fff;
        }
        #topheardpagecontainer{
            height: 50px;
        }

        .list-row{

        }
        .list-row>img{
            width: 60px !important;
            height: 86px!important;
            max-width: 111px !important;
        }
        .list-row .title{
        font-size:16px;
        }
        .list-row .title2{
        float:right;
        font-size:12px;
        color:#565e69;
		line-height: 26px;
        }
        .list-star-1{
		width:80px;
		height:16px;
		float:left;
		margin: 5px 0px 5px 0;

		background-size:contain;
		}
        .list-star-1>div{width:100%; height:100%;background-size:contain;}
        #offCanvas{
            background-color: #fff !important;
        }
        .mui-search .mui-placeholder{
            pointer-events: none;
        }
    .mui-slider-item{
        /*height: 213px !important;*/
    }
    .loading{
        width: 100%;
        height: 100%;
        border: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
    }
        .loading div{
            margin: 0 auto;
            width: auto;
            height: auto;
        }
	.touxiang {
		background-color: #fff;
		border-radius: 60px;
		width: 90px;
		height: 90px;
		padding:5px;
		float: left;
		margin-right:10px;
	}
	.touxiang>img {
		width: 80px;
		height: 80px;
		border-radius: 60px;
	}
	.touxiang-rank {
		width: 90px;
		height: 127px;
		background-color: #CCCCCC;
		float: left;
		border-radius: 5px;
	}
	.touxiang-cafe-list {
		width: 65px;
		height: 65px;
		background-color: #CCCCCC;
		float: left;
		border-radius: 5px;
	}
	.touxiang1-my-menu{height:90px;line-height:90px;color:#FFFFFF;white-space: normal!important;}
	.touxiang1{padding-left: 10px;overflow: hidden;}
	.touxiang1 li{ line-height:22px;}

	
	.useinfo-line{
		background:rgba(250,250,250,0.8);
	}
    .startpage{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 48px;
        text-align: center;
        line-height: 300px;
        z-index: 10000;
        background-image: url(../img/icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #226BD1;
        color: #fff;
    }
	.userinfo-menu{
	width:80%;
	height:36px;
	line-height:36px;
	margin-left:10px;
	float:left;
	}
	.mui-icon-userinfo{
	width:36px;
	height:36px;
	float:left;
	border-radius: 5px;
	}
	.mui-icon-bookmain{
	width:18px;
	height:18px;
	float:left;
	border-radius: 5px;
	margin-right: 10px;
	}
	.main-icon-lit{
	margin-top:6px !important;
	margin-right:5px !important;
	}
	.rank-pic{
	width:90px !important;
	height:90px !important;
	max-width: 90px !important;
	margin:0px 6px 6px 0px;
	}
.rank-pic-big{
	width:100% !important;
	height:100% !important;
	max-width: 100% !important;
	margin:0px 6px 6px 0px;
	}
.rank-content{
	padding:10px;
	background-color:#fff;
	border-bottom: 1px solid #ccc;
	border-top:1px solid #ccc;
	margin-top: -1px;
	}
.rank-face{
	margin-bottom:10px;
	}
.rank-face1{
	height:60px;
	margin-bottom:10px;
	}
.rank-img-3{
	margin-top: 10px;
	}
.mui-media-body{
	line-height:21px;
	color:#000000;
	}
.mui-ellipsis{
	line-height:21px;
	}
.mui-ellipsis-bt{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#565e69;
	white-space: normal!important;
	}
.rank-text-line{
	overflow:hidden;
	white-space:normal !important;
}
.rank-ms{
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal!important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}



        .mytabs .mui-control-content{

            background-repeat: no-repeat;
            background-position: 10px 20px;
            background-color: #fff;
        }
		
		.mybooklist-row{ float:right;}
    .bodypage{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: 600px;
        overflow: hidden;
        background-color: #fff;
    }
    #mybar{
        display: none;
    }
    .mynext:after{
        position: absolute;
        right: 15px;
        content: '\e583';
        top: 50%;
        display: inline-block;
        font-family: Muiicons;
        font-size: inherit;
        line-height: 1;
        color: #bbb;
        text-decoration: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
    }
    .mui-table-view-divider{
        background-color: #f0f0f0;
        color: #000;
    }
    .mui-table-view-cell{
        background-image: none;
        border-bottom:solid 1px #c8c7cc;
    }
    .mui-grid-view.mui-grid-9 .mui-media{
        border: 0;
    }


        #user_html .mui-badge,.mui-badge1{
            background-color: transparent;
            font-size: 25px;
        }
        #user_html .mygrid{
            margin: 0;
            overflow: hidden;
            padding: 1%;
        }
        #user_html .mygrid>li{
            float: left;
            width: 48%;
            border: solid 1px #ccc;
            border-radius: 7px;
            background-color: #fff;
            padding: 10px;
            margin: 1%;
        }
        #user_html .kucunlist{
            /*background-image: url(./img/deng.png);*/
            width: 272px;
            height: 62px;
            background-size: 272px 62px;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        #user_html .kucunlist>li{
            display: block;
            width: 33.3%;
            margin: 0;
            padding: 0;
            float: left;
            background-image: url(../img/deng.png);
            height: 62px;
            background-size: 272px 62px;
            background-repeat: no-repeat;
        }
        #user_html .kucunlist>li.mui-active{
            background-image: url(../img/deng1.png);
        }

        #user_html .secenicon{
            width: 34px;
            height: 34px;
            float: left;
            background-size: 136px 34px;
            background-image: url(../img/icon_4.png);
            margin-top: 20px;
        }

        #user_html .secenicon.s_1{

        }
        #user_html .secenicon.s_3{
            background-position: -34px 0;
        }
        #user_html .secenicon.s_2{
            background-position: -68px 0;
        }
        #user_html .secenicon.s_4{
            background-position: -102px 0;
        }
.mui-table-view-cell .title{
    font-size: 22px;
}
.my.mygrid{
    margin: 0;
    overflow: hidden;
    padding: 1%;
}
.my.mygrid>li{
    float: left;
    width: 48%;
    border: solid 1px #ccc;
    border-radius: 7px;
    background-color: #fff;
    padding: 10px;
    margin: 1%;
}
.my.mygrid>li>div{
    text-align: center;
}
.my.mygrid>li>p{
    text-align: center;
}
.mui-popover .title{
    font-size: 20px;
}
.mui-popover .msg{
    font-size: 20px;
    line-height: 30px;
}