<div class="page_content userpage" style="" id="freelist_html">
    <style>
        .map_contaion{
            display: box;
            display: -webkit-box;
            display: -moz-box;
            
            -moz-box-orient:vertical;
            
            -webkit-box-orient:vertical;
            
            box-orient:vertical;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    .map_contaion>*{
        width: 100%;
        -moz-box-flex: auto;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
        height: auto;
    }
    .map_contaion .map{
        width: 100%;
        height: 60px;
        -moz-box-flex:1;
        -webkit-box-flex:1;
        box-flex:1;
        position: relative;
        overflow: hidden;
    }
    .map_contaion .list{
        -moz-box-flex:2;
        -webkit-box-flex:2;
        box-flex:2;
        position: relative;
        
        transition: all .5s;
        -moz-transition: all .5s;	/* Firefox 4 */
        -webkit-transition: all .5s;	/* Safari 和 Chrome */
        -o-transition: all .5s;
    }
    .map_contaion .list>*{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .map_contaion .list .innerlist{
        left: 0;
        margin-top:0px;
        
        overflow: hidden;
    }
    </style>
    <div name="freelist">
    <div class="select-menu">
        <ul>
            <li>
                <span class="mui-navigate-down" name="btarea">附近</span>

                <div style="display:none;" class="shadow-box select-menu-cell" name="panelarea">
                    <ul class="mui-table-view mui-grid-view mui-grid-9">

                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_0" style="display:none">
                        <div class="mui-media-body">附近</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_xh">
                        <div class="mui-media-body">徐汇区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_ja">
                        <div class="mui-media-body">静安区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_hp">
                        <div class="mui-media-body">黄浦区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_cn">
                        <div class="mui-media-body">长宁区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_mh">
                        <div class="mui-media-body">闵行区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_pd">
                        <div class="mui-media-body">浦东新区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_pt">
                        <div class="mui-media-body">普陀区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_hk">
                        <div class="mui-media-body">虹口区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_zb">
                        <div class="mui-media-body">闸北区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_yp">
                        <div class="mui-media-body">杨浦区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_bs">
                        <div class="mui-media-body">宝山区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_lw">
                        <div class="mui-media-body">卢湾区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_sj">
                        <div class="mui-media-body">松江区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_jd">
                        <div class="mui-media-body">嘉定区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_qp">
                        <div class="mui-media-body">青浦区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_area_js">
                        <div class="mui-media-body">金山区</div>
                    </li>
                </ul>
                    </div>
            </li>
            <li>
                <span class="mui-navigate-down" name="bttag">类型</span>
                <div style="display:none;" class="shadow-box select-menu-cell" name="paneltag">
                    <ul class="mui-table-view mui-grid-view mui-grid-9">
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_0">
                        <div class="mui-media-body">所有</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_1">
                        <div class="mui-media-body">有时间限制</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_2">
                        <div class="mui-media-body">门店停车位</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_3">
                        <div class="mui-media-body">画有停车线</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_4">
                        <div class="mui-media-body">小道旁</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_5">
                        <div class="mui-media-body">断头路</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_6">
                        <div class="mui-media-body">空地</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_7">
                        <div class="mui-media-body">小区</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_8">
                        <div class="mui-media-body">老厂房</div>
                    </li>
                    <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" name="tags_sel_9">
                        <div class="mui-media-body">学校</div>
                    </li>
                </ul>
                </div>
            </li>
            <li>
                <span class="select-menu-btn" style="margin-right: 15px;float: right;" name="btfreeadd">+ 添加</span>
            </li>
        </ul>
    </div>
    <div class="list park-list" name='scrollpanel'>
        <ul class="mui-table-view park-list" name='list'>
        </ul>
        <div class="mui-content-padded">
            <ul class="mui-pager">
                <li name="btn_prev" class="mui-previous" style="display:none;">
                    <a>上一页</a>
                </li>
                <li name="btn_more" class="mui-next" style="display:none;">
                    <a>下一页</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="template">
        <li name="row_park" class="mui-table-view-cell">
            <div class="distance"></div>
            <h4><span name="name"></span></h4>
            <p class='mui-ellipsis-2'><span name="tag1" class="tips-tag"></span><span name="desc"></span></p>
            <a class="mui-btn mui-btn-primary">详情</a>
        </li>
    </div>
    <div class="input-box map_contaion" name="freeadd" style="display:none;">
        <div class="map" id="map_html_mapid2"></div>
        <form class="mui-input-group list">
            <div class="innerlist">
            <ul class="mui-table-view" name='scrollarea_add'>
                <li class="mui-table-view-cell">
	                			<input name="txtName" type="text" placeholder="请在这里输入名称">
                                    </li>
	            			<li class="mui-table-view-cell">
                                <textarea name="txtDsc" rows="4" placeholder="请在这里对地址、入口、空忙时间等停车场情况进行描述，越详细对大家帮助越大"></textarea>
                </li>
                <li class="mui-table-view-cell">
                                <p style="margin-top:15px;">请选择标签</p>
                                <span class="tags-item" name="tags_item_1">有时间限制</span><span class="tags-item" name="tags_item_2">门店停车位</span><span class="tags-item" name="tags_item_3">画有停车线</span><span class="tags-item" name="tags_item_4">小道旁</span><span class="tags-item" name="tags_item_5">断头路</span><span class="tags-item" name="tags_item_6">空地</span><span class="tags-item" name="tags_item_7">小区</span><span class="tags-item" name="tags_item_8">老厂房</span>
                            </li>
            </ul>
            </div>
        </form>
        <a class="mui-btn mui-btn-warning" name="addcancel">取消</a>
        <a class="mui-btn mui-btn-primary mui-pull-right" name="addok">提交</a>
    </div>
</div>