<div class="page_content userpage" id="secen_in_html" style="" >
    <ul class="mui-table-view" name='list'>

    </ul>
    <div class="mui-btn mui-btn-success mui-btn-block" name='btrefresh'>刷新入场记录</div>
    <div class="template">
        <ul>
            <li class="mui-table-view-cell" name='row'>
                <div name='cardid' class="title">沪A12333</div>
                <p><span name='time'>10:45</span>下单</p>
                <div class="mui-btn mui-btn-success  mui-pull-right" name='btaction'>确认进入</div>
            </li>
            <li class="mui-table-view-cell" name='row_none'>
                <h3><p>当前没有准备进场记录.</p></h3>
            </li>
        </ul>
    </div>
</div>