html{
       width: 100%;
       height: 100%;
   }
   body{
       width: 100%;
       height: 100%;
   }
   .template {
       display: none;
   }
   .page{
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;


       display: box;
       display: -webkit-box;
       display: -moz-box;

       -moz-box-orient:vertical;

       -webkit-box-orient:vertical;

       box-orient:vertical;

   }
   #usermap>*{
       width: 100%;
       -moz-box-flex: auto;
       -webkit-flex: auto;
       -ms-flex: auto;
        flex: auto;
       height: auto;
   }
   #usermap .search label{
       width: 20%;
       float: none;
       line-height: 2;
   }
   #usermap .search input{
       width: 80%;
       text-align: left;
       float: left;
   }
   #usermap .map{
       width: 100%;
       height: 250px;
   }
   #usermap .list{
       -moz-box-flex:1;
       -webkit-box-flex:1;
       box-flex:1;
       position: relative;

       transition: all .8s;
       -moz-transition: all .8s;	/* Firefox 4 */
       -webkit-transition: all .8s;	/* Safari 和 Chrome */
       -o-transition: all .8s;
   }
   #usermap .list.next{
       -webkit-transform:translate3d(-100%, 0px, 0px);
       -moz-transform:translate3d(-100%, 0px, 0px);
       -o-transform:translate3d(-100%, 0px, 0px);
   }
   #usermap .list>*{
       position: absolute;
       top: 0;
       width: 100%;
       height: 100%;
   }
   #usermap .list .innerlist{
       left: 0;
   }
   #usermap .list .info .mybar{
       height: 44px;
       padding-right: 10px;
       padding-left: 10px;
       background-color: rgba(247,247,247,.98);
       border-bottom: 0;
       -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
       box-shadow: 0 0 1px rgba(0,0,0,.85);
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
   }
   #usermap .list .info{
       left: 100%;
   }

   .mui-bar-tab .mui-tab-item .mui-icon {
   			top: 2px;
   			width: 40px !important;
   			height: 40px !important;
   			padding-top: 0;
   			padding-bottom: 0;
               border: solid 2px #ccc;
               border-radius: 50%;
               line-height: 35px;

   		}
           .mui-table-view-cell{
               padding: 18px 15px;
           }
           .mui-table-view-cell label{
               display: inline-block;
               min-width: 60px;
           }
           .mui-bar-tab .mui-tab-item.mui-active .mui-icon{
               border: solid 2px red;
           }
           .mui-table-view-divider{
               background-color: #f0f0f0;
               color: #000;
           }
           .mui-btn-green, .mui-btn-positive, .mui-btn-success, .mui-btn-primary{
               background-color: #16a7de;
               border: 1px solid #16a7de;
           }

           html{
               height: 100%;
           }
           body{
               height: 100%;
               width:100%;
               margin: 0;
               padding: 0;
               font-size: 16px;
               line-height: 16px;
               background-color: #ccc;
           }
           .template{
               display: none;
           }

   	.mui-bar-top{
   		position: fixed;
   		right: 0;
   		left: 0;
   		z-index: 10;
   		height: 44px;
   		padding-right: 10px;
   		padding-left: 10px;
   		background-color: #16a7de;
   		border-bottom: 0;
   		-webkit-backface-visibility: hidden;
   		backface-visibility: hidden;
   		color:#fff !important;
       }
   		.mui-bar-top>a{
   		opacity: 1;
   		color:#fff !important;
   		}
   		.mui-bar-top>h1{
   		    color:#fff !important;
   		}
           .anim_rightin{
               -webkit-animation-name:anim_rightin;
           }
           .anim_rightin_child{
               -webkit-animation-name:anim_rightin_child;
           }
           .anim_rightin_un_child{
               -webkit-animation-name:anim_rightin_un_child;
           }
           .anim_rightin_un{
               -webkit-animation-name:anim_rightin_un;
           }
           .anim_leftin{
               -webkit-animation-name:anim_leftin;
           }
           .anim_leftin_child{
               -webkit-animation-name:anim_leftin_child;
           }
           .anim_leftin_un_child{
               -webkit-animation-name:anim_leftin_un_child;
           }
           .anim_leftin_un{
               -webkit-animation-name:anim_leftin_un;
           }
           @-webkit-keyframes anim_rightin{
               0%{-webkit-transform:translateX(100%);}
               100%{-webkit-transform:translateX(0);}
           }
           @-webkit-keyframes anim_rightin_child{
               0%{-webkit-transform:translateX(0);}
               100%{-webkit-transform:translateX(-50%);}
           }
           @-webkit-keyframes anim_rightin_un_child{
               0%{-webkit-transform:translateX(-50%);}
               100%{-webkit-transform:translateX(0%);}
           }
           @-webkit-keyframes anim_rightin_un{
               0%{
                   -webkit-transform:translateX(0);
               }
               100%{-webkit-transform:translateX(100%);}
           }
           @-webkit-keyframes anim_leftin{
               0%{-webkit-transform:translateX(-100%);}
               100%{-webkit-transform:translateX(0);}
           }
           @-webkit-keyframes anim_leftin_child{
               0%{-webkit-transform:translateX(0);}
               100%{-webkit-transform:translateX(50%);}
           }
           @-webkit-keyframes anim_leftin_un_child{
               0%{-webkit-transform:translateX(50%);}
               100%{-webkit-transform:translateX(0%);}
           }
           @-webkit-keyframes anim_leftin_un{
               0%{-webkit-transform:translateX(0);}
               100%{-webkit-transform:translateX(-100%);}
           }
           ul{
               margin: 0;
               padding: 0;
               list-style: none;
           }
           head{
               /*opacity: .5;*/
           }
           nav{
               /*opacity: .5;*/
           }
           .pagecontainer{/***page容器 该容器决定了page的 宽高*/
               position: relative;
               width: 100%;
               height: 100%;
               overflow: hidden;
               z-index: 100;
               -webkit-transform:translateX(0);
               -webkit-animation-duration:.4s;
               -webkit-animation-iteration-count:1;
               -webkit-animation-timing-function:ease
           }
           .page{          /**每个页面的最外层样式 必须放在 pagecontaion中**/
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               overflow: hidden;
           }
           .mytabs{
               width: 100%;
               position: absolute;
               left: 0;
               top: 0;
               bottom: 0;
               padding: 0;
           }
           .mytabs>div{
               width: 100%;
               height: 100%;
               overflow: hidden;
               position: absolute;
               left: 0;
               top: 0;
           }
   		.mui-bar{
               -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3) !important;
               box-shadow: 0 0 1px rgba(0,0,0,.3) !important;
   		}
           .mytabs>div>*{
               background-color: #fff;
   			min-height:100%;
           }
               .mytabs>div .copyright{
                   min-height: inherit;
                   position: absolute;
                   bottom: 0px;
                   right: 10px;
                   font-weight: normal;
                   font-size: 12px;
               }
           .page_body{
               width: 100%;
               height: 100%;
               overflow: hidden;
               position: relative;
               left: 0;
               padding: 0;
               margin: 0;
               background-color: #fff;
           }
           .page_content{
   			background-color: #fff;
   			min-height:100%;
           }
   		.page_content:before{
   			height: 100%;
   			position: absolute;
   			top: -100%;
   			/*background-color: #fe3c4d;*/
   			width: 100%;
   			content: ' ';
   			background-repeat: no-repeat;
   			background-position: center bottom;
   			background-size: 100% auto;
   		}
           .nva_row{
               overflow: hidden;
               margin-top: 5px;
           }
           .nva_row>ul{
               width: 560px;
               overflow: hidden;
           }
           .nva_row>ul>li{
               float: left;
               width: 70px;
           }
           .nva_row>ul>li>img{
               width: 50px;
               height: 50px;
               display: block;
               margin: 0 auto;
   			border-radius: 5px;
           }
           .nva_row>ul>li>span{
               display: block;
               height: 25px;
               line-height: 25px;
               text-align: center;
               font-size: 16px;
           }
           .typerow{

           }
           .typerow>ul{

           }
           .typerow>ul>li{
               float: left;
               width: 80px;
           }
           .typerow>ul>li>img{
               width: 60px;
               height: 60px;
               display: block;
               margin: 0 auto;
               border-radius: 5px;
           }
           .typerow>ul>li>span{
               display: block;
               height: 30px;
               line-height: 30px;
               text-align: center;
           }
           h5{
               border-top: solid 1px #ccc;
               border-bottom: solid 1px #ccc;
               padding: 10px;
   			margin-top: 0px;
   			font-size: 16px;
           }
            #alert_pagecontainer, #pop_pagecontaion ,.pagecontainer{
               position: absolute !important;
               left: 0;
               top: 0;
           }
           #pop_pagecontaion .page{
               position: absolute;
               width: 100%;
               /*top: 44px;*/
               top:0;
               bottom: 0;
               left: 0;
               height: auto;
           }
           .toppagecontainer{
               position: absolute;
               left: 0;
               top: 0;
           }
           .toppagecontainer .page{
               position: absolute;
               width: 100%;
               top: 44px;
               bottom: 0;
               left: 0;
               height: auto;
   			background-color: #fff;
           }
           #topheardpagecontainer{
               height: 50px;
           }

           .list-row{

           }
           .list-row>img{
               width: 60px !important;
               height: 86px!important;
               max-width: 111px !important;
           }
           .list-row .title{
               font-size:16px;
           }
           .list-row .title2{
               float:right;
               font-size:12px;
               color:#565e69;
               line-height: 26px;
           }
           .list-star-1{
   		width:80px;
   		height:16px;
   		float:left;
   		margin: 5px 0px 5px 0;

   		background-size:contain;
   		}
           .list-star-1>div{width:100%; height:100%;background-size:contain;}
           #offCanvas{
               background-color: #fff !important;
           }
           .mui-search .mui-placeholder{
               pointer-events: none;
           }
       .mui-slider-item{
           /*height: 213px !important;*/
       }
       .loading{
           width: 100%;
           height: 100%;
           border: 0;
           position: absolute;
           left: 0;
           top: 0;
           z-index: 1000;
       }
       .loading div{
           position: relative;
           width: 120px;
           height: 120px;
           background-image: url(../img/loading2_2.png);
           background-repeat: no-repeat;
           background-position: center bottom;
           margin: 0 auto;
           animation: loading_show 1s;
           -moz-animation: loading_show 1s;	/* Firefox */
           -webkit-animation: loading_show 1s;	/* Safari 和 Chrome */
           -o-animation: loading_show 1s;	/* Opera */
           border-radius: 50%;
           /*background-color: rgba(0,0,0,.1);*/
       }
       @-webkit-keyframes loading_show{
           0% {opacity: 0}
           99% {opacity: 0}
           100% {opacity: 1}
       }
       .loading div>div{
           background-image: url(../img/loading1_1.png);
           width: 80px;
           height: 97px;
           position: absolute;
           left: 0;
           right: 0;
           margin: 0 auto;
           top: 10px;
           animation: loading_run .8s infinite;
           -moz-animation: loading_run .8s infinite;	/* Firefox */
           -webkit-animation: loading_run .8s infinite;	/* Safari 和 Chrome */
           -o-animation: loading_run .8s infinite;	/* Opera */
           border: none;
           background-color: transparent;
       }
           @-webkit-keyframes loading_run
           {
               0% {top:-15px}
               50% {top:10px}
               100% {top:-15px}
           }

           @-moz-keyframes loading_run /* Firefox */
           {
               0% {top:-25px}
               50% {top:-10px}
               100% {top:-25px}
           }
   	.touxiang {
   		background-color: #fff;
   		border-radius: 60px;
   		width: 90px;
   		height: 90px;
   		padding:5px;
   		float: left;
   		margin-right:10px;
   	}
   	.touxiang>img {
   		width: 80px;
   		height: 80px;
   		border-radius: 60px;
   	}
   	.touxiang-rank {
   		width: 90px;
   		height: 127px;
   		background-color: #CCCCCC;
   		float: left;
   		border-radius: 5px;
   	}
   	.touxiang-cafe-list {
   		width: 65px;
   		height: 65px;
   		background-color: #CCCCCC;
   		float: left;
   		border-radius: 5px;
   	}
   	.touxiang1-my-menu{height:90px;line-height:90px;color:#FFFFFF;white-space: normal!important;}
   	.touxiang1{padding-left: 10px;overflow: hidden;}
   	.touxiang1 li{ line-height:22px;}


   	.useinfo-line{
   		background-color:rgba(250,250,250,0.8);
   	}
       .startpage{
           position: absolute;
           width: 100%;
           height: 100%;
           left: 0;
           top: 0;
           font-size: 48px;
           text-align: center;
           line-height: 300px;
           z-index: 10000;
           background-image: url(../img/icon.png);
           background-repeat: no-repeat;
           background-position: center center;
           background-color: #226BD1;
           color: #fff;
       }
   	.userinfo-menu{
   	width:80%;
   	height:36px;
   	line-height:36px;
   	margin-left:10px;
   	float:left;
   	}
   	.mui-icon-userinfo{
   	width:36px;
   	height:36px;
   	float:left;
   	border-radius: 5px;
   	}
   	.mui-icon-bookmain{
   	width:18px;
   	height:18px;
   	float:left;
   	border-radius: 5px;
   	margin-right: 10px;
   	}
   	.main-icon-lit{
   	margin-top:6px !important;
   	margin-right:5px !important;
   	}

   	.rank-pic{
   	width:90px !important;
   	height:90px !important;
   	max-width: 90px !important;
   	margin:0px 6px 6px 0px;
   	}
   .rank-pic-big{
   	width:100% !important;
   	height:100% !important;
   	max-width: 100% !important;
   	margin:0px 6px 6px 0px;
   	}
   .rank-content{
   	padding:10px;
   	background-color:#fff;
   	border-bottom: 1px solid #ccc;
   	border-top:1px solid #ccc;
   	margin-top: -1px;
   	}
   .rank-face{
   	margin-bottom:10px;
   	}
   .rank-face1{
   	height:60px;
   	margin-bottom:10px;
   	}
   .rank-img-3{
   	margin-top: 10px;
   	}
   .mui-media-body{
   	line-height:21px;
   	color:#000000;
   	}
   .mui-ellipsis{
   	line-height:21px;
   	}
   .mui-ellipsis-bt{
   	font-size: 16px;
   	margin-top: 10px;
   	margin-bottom: 10px;
   	color:#565e69;
   	white-space: normal!important;
   	}
   .rank-text-line{
   	overflow:hidden;
   	white-space:normal !important;
   }
   .rank-ms{
   	display: -webkit-box;
   	overflow: hidden;
   	text-overflow: ellipsis;
   	white-space: normal!important;
   	-webkit-line-clamp: 1;
   	-webkit-box-orient: vertical;
   }



           .mytabs .mui-control-content{

               background-repeat: no-repeat;
               background-position: 10px 20px;
               background-color: #fff;
           }

   		.mybooklist-row{ float:right;}
       .bodypage{
           position: relative;
           width: 100%;
           height: 100%;
           margin: 0 auto;
           max-width: 600px;
           overflow: hidden;
           background-color: #fff;
       }
       #mybar{
           display: none;
       }
       .mynext:after{
           position: absolute;
           right: 15px;
           content: '\e583';
           top: 50%;
           display: inline-block;
           font-family: Muiicons;
           font-size: inherit;
           line-height: 1;
           color: #bbb;
           text-decoration: none;
           -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
           -webkit-font-smoothing: antialiased;
       }

       .amap-container .amap-logo{
           border: solid 1px red;
           display: none;
       }
       .amap-scale-text{
           color: #000;
           text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
       }
       .amap-scale-line>*{
           border-color: #000;
       }
       .amap-scalecontrol{
           margin-bottom: -20px;
       }
           .iconrow{
               background-image: url(../img/icon.png);
               background-repeat: no-repeat;
               background-position: left center;
               background-size: auto 100%;
           }
           h1.iconrow {
               padding-left: 50px;
           }
           .mui-btn-block{
               margin: 10px auto;
               width: 95%;
           }

           .mk1{
               background-image: url(../img/maks.png);
               width: 32px;
               height: 32px;
               background-size: 100% 100%;
               line-height: 30px;
               color: #fff;
               text-align: center;
               background-size: 192px 32px;
               font-size: 12px;
           }
           .mk1.state0{
               background-position-x: -160px;
           }
           .mk1.state1{

           }
           .mk1.state2{
               background-position-x: -32px;
           }
           .payinfo{
               font-size: 30px;
               color: #16a7de;
           }
   #map_html .mui-table-view-cell{
       padding: 7px 15px;
   }
   #map_html .distance{
       background-image: url(../img/jiantou.png);
       display: inline-block;
       background-repeat: no-repeat;
       background-position: left center;
       padding-left: 18px;
   }
    #mapfull_html .distance {
        background-image: url(../img/jiantou.png);
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 18px;
    }
   .mapPluginInit_mk1{
       width: 30px;
       height: 30px;
       background-image: url(../img/maintools.png);
       background-size: 140px 32px;
       background-origin: padding-box;
       background-position: -24px -1px;
       cursor: pointer;
       position: absolute;
       right:19px;
       top: 10px;
   }
   .dquicon{
       background-image: url(../img/card.jpg);
       display: inline-block;
       width: 16px;
       height: 16px;
       background-size: 100% 100%;
   }
   #couponget_html {

   }
   #couponget_html .bg{
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       top: 0;

   }
    #couponget_html .bg>div{
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       top: 0;
       /*background-image: url(../img/hongbao/quan_3.jpg);*/
       background-repeat: no-repeat;
       background-position: left bottom;
       background-size: 100% auto;
    }
    #couponget_html .bg>div.panel_result, #couponget_html .bg>div.panel_none{
        background-image: none;
    }
    #couponget_html .bg>div.panel_result .zhiwen_hide, #couponget_html .bg>div.panel_none .zhiwen_hide{
        position: absolute;
        top: 10%;
        right: 0;
        opacity: 1;
    }
    #couponget_html .bg>div.panel_result .zhiwen, #couponget_html .bg>div.panel_none .zhiwen{
        width: 320px;
        height: 196px;
        position: absolute;
        top:49%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    #couponget_html .bg>div.panel_result .zhiwen img, #couponget_html .bg>div.panel_none .zhiwen img{
        width: 100%;
        /*background-color: #ccc;*/
    }
   #couponget_html .btget{
       background-image: url(../img/hongbao/quan_4.png);
       width: 102px;
       height: 102px;
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 50%;
       /*margin-top: -51px;*/
       background-size: 100% 100%;
   }
   #couponget_html .quan{
       background-image: url(../img/hongbao/quan_2.jpg);
       width: 320px;
       height: 128px;
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 20%;
       background-size: 100% 100%;
   }
   #couponget_html .quan p{
       position: absolute;
       color: #fff;
       bottom: 2%;
       width: 100%;
       text-align: center;
   }
   #couponget_html .quan b{
       position: absolute;
       left: 0;
       right: 0;
       width: 100%;
       text-align: center;
       top: 55%;
       color: #9F0906;
       font-size: 32px;
   }
   #couponget_html .quan span{
       color: #fff;
       font-size: 60px;
       font-weight: bold;
       position: absolute;
       top: 55%;
       width: 80px;
       text-align: center;
       background-image: url(../img/hongbao/yuan.png);
       background-size: 40px 40px;
       background-repeat: no-repeat;
       background-position: right center;
       left: 0;
       right: 0;
       margin: 0 auto;
       display: block;
       padding-right: 40px;
       height: 40px;
       line-height: 30px;
   }
   #couponget_html .quan0{
       background-image: url(../img/hongbao/quan_6.jpg);
       width: 320px;
       height: 128px;
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 20%;
       background-size: 100% 100%;
   }
   #couponget_html .title{
       background-image: url(../img/hongbao/quan_1.jpg);
       width: 320px;
       height: 82px;
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 0;
       background-size: 100% 100%;
   }
   #couponget_html .title1{
       background-image: url(../img/hongbao/quan_5.jpg);
       width: 320px;
       height: 82px;
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 0;
       background-size: 100% 100%;
   }
   #couponget_html .text{
       position: absolute;
       left: 0;
       right: 0;
       margin: 0 auto;
       width: 80%;
       top: 30%;
       text-align: center;
       border: solid 1px #ccc;
       padding: 10px;
   }
   #reg_dialog_pagecontainer{

   }
   #reg_dialog_pagecontainer .loginpanel{
       background-color: #fff;
       width: 95%;
       border: solid 1px #000;
       border-radius: 5px;
       position: absolute;
       z-index: 20;
       left: 0;
       right: 0;
       margin: 0 auto;
       top: 50%;
       margin-top: -150px;
       padding: 10px;

       -webkit-animation-duration: .3s;
       animation-duration: .3s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
   }
    #reg_dialog_pagecontainer .mui-icon-close{
        position: absolute;
        top: 0;
        right: 0;
    }