html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
}
.template {
    display: none;
}
.page{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;


    display: box;
    display: -webkit-box;
    display: -moz-box;

    -moz-box-orient:vertical;

    -webkit-box-orient:vertical;

    box-orient:vertical;

}
.bodypage{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
}

.anim_rightin{
    -webkit-animation-name:anim_rightin;
}
.anim_rightin_child{
    -webkit-animation-name:anim_rightin_child;
}
.anim_rightin_un_child{
    -webkit-animation-name:anim_rightin_un_child;
}
.anim_rightin_un{
    -webkit-animation-name:anim_rightin_un;
}
.anim_leftin{
    -webkit-animation-name:anim_leftin;
}
.anim_leftin_child{
    -webkit-animation-name:anim_leftin_child;
}
.anim_leftin_un_child{
    -webkit-animation-name:anim_leftin_un_child;
}
.anim_leftin_un{
    -webkit-animation-name:anim_leftin_un;
}
@-webkit-keyframes anim_rightin{
    0%{-webkit-transform:translateX(100%);}
    100%{-webkit-transform:translateX(0);}
}
@-webkit-keyframes anim_rightin_child{
    0%{-webkit-transform:translateX(0);}
    100%{-webkit-transform:translateX(-50%);}
}
@-webkit-keyframes anim_rightin_un_child{
    0%{-webkit-transform:translateX(-50%);}
    100%{-webkit-transform:translateX(0%);}
}
@-webkit-keyframes anim_rightin_un{
    0%{
        -webkit-transform:translateX(0);
    }
    100%{-webkit-transform:translateX(100%);}
}
@-webkit-keyframes anim_leftin{
    0%{-webkit-transform:translateX(-100%);}
    100%{-webkit-transform:translateX(0);}
}
@-webkit-keyframes anim_leftin_child{
    0%{-webkit-transform:translateX(0);}
    100%{-webkit-transform:translateX(50%);}
}
@-webkit-keyframes anim_leftin_un_child{
    0%{-webkit-transform:translateX(50%);}
    100%{-webkit-transform:translateX(0%);}
}
@-webkit-keyframes anim_leftin_un{
    0%{-webkit-transform:translateX(0);}
    100%{-webkit-transform:translateX(-100%);}
}

.pagecontainer{/***page容器 该容器决定了page的 宽高*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}
.page{          /**每个页面的最外层样式 必须放在 pagecontaion中**/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mytabs{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}
.mytabs>div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.mytabs>div>*{
    min-height:100%;
}
.mytabs>div .copyright{
    min-height: inherit;
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-weight: normal;
    font-size: 12px;
}
.mytabs .mui-control-content{

    background-repeat: no-repeat;
    background-position: 10px 20px;
}
.page_content{
    background:#f8f8f8;
    min-height:100%;
}
.page_content:before{
    height: 100%;
    position: absolute;
    top: -100%;
    /*background-color: #fe3c4d;*/
    width: 100%;
    content: ' ';
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}
#alert_pagecontainer, #pop_pagecontaion ,.pagecontainer{
    position: absolute !important;
    left: 0;
    top: 0;
}
#pop_pagecontaion .page{
    position: absolute;
    width: 100%;
    /*top: 44px;*/
    top:0;
    bottom: 0;
    left: 0;
    height: auto;
}
.toppagecontainer{
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform:translateX(0);
    -webkit-animation-duration:.4s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease;
    background:#f8f8f8;
}
.toppagecontainer .page{
    position: absolute;
    width: 100%;
    top: 44px;
    bottom: 0;
    left: 0;
    height: auto;
}
#topheardpagecontainer{
    height: 50px;
}


.loading{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}
.loading div{
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url(../img/loading2_2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 auto;
    animation: loading_show 1s;
    -moz-animation: loading_show 1s;	/* Firefox */
    -webkit-animation: loading_show 1s;	/* Safari 和 Chrome */
    -o-animation: loading_show 1s;	/* Opera */
    border-radius: 50%;
    /*background-color: rgba(0,0,0,.1);*/
}
@-webkit-keyframes loading_show{
    0% {opacity: 0}
    99% {opacity: 0}
    100% {opacity: 1}
}
.loading div>div{
    background-image: url(../img/loading1_1.png);
    width: 80px;
    height: 97px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    animation: loading_run .8s infinite;
    -moz-animation: loading_run .8s infinite;	/* Firefox */
    -webkit-animation: loading_run .8s infinite;	/* Safari 和 Chrome */
    -o-animation: loading_run .8s infinite;	/* Opera */
    border: none;
    background-color: transparent;
}
@-webkit-keyframes loading_run
{
    0% {top:-15px}
    50% {top:10px}
    100% {top:-15px}
}

@-moz-keyframes loading_run /* Firefox */
{
    0% {top:-25px}
    50% {top:-10px}
    100% {top:-25px}
}

.coverpage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #f8f8f8;
    display:none;
}
.startpage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 48px;
    text-align: center;
    line-height: 300px;
    z-index: 10000;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #226BD1;
    color: #fff;
}

.main-icon-lit{
    margin-top:6px !important;
    margin-right:5px !important;
}

.amap-container .amap-logo{
    border: solid 1px red;
    display: none;
}
.amap-scale-text{
    color: #000;
    text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
}
.amap-scale-line>*{
    border-color: #000;
}
.amap-scalecontrol{
    margin-bottom: -20px;
}
.iconrow{
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
}
h1.iconrow {
    padding-left: 50px;
}
.mapPluginInit_mk1{
    width: 30px;
    height: 30px;
    background-image: url(../img/maintools.png);
    background-size: 140px 32px;
    background-origin: padding-box;
    background-position: -24px -1px;
    cursor: pointer;
    position: absolute;
    right:19px;
    top: 10px;
}

#reg_dialog_pagecontainer{

}
#reg_dialog_pagecontainer .loginpanel{
    background-color: #fff;
    width: 95%;
    border: solid 1px #000;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 55%;
    margin-top: -150px;
    padding: 10px;

    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#reg_dialog_pagecontainer .mui-icon-close{
    position: absolute;
    top: 0;
    right: 0;
}
/*Global*/
body,.mui-content {background:#f8f8f8;}
h1,h2,h3,h4,h5,h6 {margin:0;}
p {color:#666;}
.price {color:#f00;}
.activity {background:#fff; border:1px solid #f39c12; color:#f39c12; border-radius:5px; display:inline-block; padding:4px 5px; margin-top:5px;}
.mui-active .mui-tab-label,.mui-bar-tab .mui-tab-item.mui-active,.mui-btn-primary.mui-btn-outlined,.park-explain strong {color:#1e88e5;}
.tips-box {border-radius:3px; color:#fff; font-size:12px; font-weight:400; height:12px; line-height:1em; padding:3px 5px; margin-left:5px; overflow:hidden; vertical-align:middle;}
.tips-green {background:#43bc1b;}
.tips-blue {background:#1e88e5;}
.tips-red {background:#f00;}
.tips-box.tips-blue {border:1px solid #1E88E5; background:none; color:#1E88E5;}
.mui-table-view-cell .mui-btn-primary,.mui-btn-primary.mui-btn-block {background:#1e88e5; border:none;}
.mui-btn-primary.mui-btn-outlined {background:none; border:1px solid #1e88e5;}
.mui-navigate-down:after {content: '\e581'; font-family:Muiicons; font-size:inherit; line-height:1; color:#bbb; margin-left:3px; text-decoration:none; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-font-smoothing:antialiased;}
.mui-bar .mui-btn-nav.mui-pull-right {margin-right:0;}
.title-box:after,.select-menu-cell:after,.mui-table-view-cell .mui-grid-view:before,.list[name="history"]:after,.select-menu:after {position:absolute; right:0; bottom:0; left:0; height:1px; content:''; background-color:#c8c7cc; -webkit-transform:scaleY(.5); transform:scaleY(.5);}
.tips-loading {background:rgba(0,0,0,.5) url(../img/loading.gif) no-repeat center; background-size:64px 64px; width:120px; height:100px; border-radius:6px; position:absolute; top:50%; left:50%; margin-top:-50px; margin-left:-60px; z-index:1000;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {border-right:1px solid #eee;}
/*IconFont*/
@font-face {font-family: 'duduche'; src:url('../fonts/duduche.ttf') format('truetype'); font-weight: normal; font-style: normal;}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'duduche'; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
}
.icon-money:before {content: "\e60c";}
.icon-parking:before {content: "\e60d";}
.icon-tag:before {content: "\e60e";}
.icon-warn:before {content: "\e60f";}
.icon-phone:before {content: "\e60b";}
.icon-compose:before {content: "\e60a";}
.icon-discover_active:before {content: "\e600";}
.icon-discover:before {content: "\e601";}
.icon-gift_active:before {content: "\e602";}
.icon-gift:before {content: "\e603";}
.icon-location_active:before {content: "\e604";}
.icon-location:before {content: "\e605";}
.icon-search:before {content: "\e606";}
.icon-user_active:before {content: "\e607";}
.icon-user:before {content: "\e608";}
.icon-place:before {content: "\e609";}
/*Header*/
.mui-bar {background:rgba(255,255,255,1);}
.mui-bar-nav {box-shadow:0 1px 2px rgba(0,0,0,.25);}
/*FooterBar*/
.mui-bar.mui-bar-tab {background:rgba(255,255,255,1); box-shadow:0 0 1px #ddd; height:48px;}
.mui-bar .mui-tab-item .mui-icon {width:32px; height:32px; line-height:32px;}
.mui-bar .mui-tab-label {height:16px; line-height:16px;}
/*Map*/
.map-box {height:220px; background:#f0ede5;}
/*List*/
.title-box {padding:15px; position:relative;}
.icon-place {color:#f65439; font-size:22px; margin-right:5px; vertical-align:top;}
.title-box .icon-place {margin-top:-4px;}
.search-link {float:right;}
.search-link a {border-left:1px solid #ddd; display:block; padding:5px 15px; margin:-5px -15px -5px 0;}
.search-link .icon-search {color:#1e88e5; font-size:18px;}
.mui-table-view-cell {padding:15px;}
.mui-table-view-cell h4 {margin-bottom:8px;}
.park-list .mui-table-view-cell p {margin-bottom:3px; margin-right:55px;}
.mui-table-view-cell p:last-child {margin-bottom:0;}
.park-list .mui-collapse,.park-list .mui-collapse .mui-table-view-chevron {background:#f3f3f3;}
.map_contaion .list .innerlist .active {background:#ddd;}
.park-list .mui-table-view-cell .mui-btn {top:52px;}
.mui-collapse.mui-active .park-free-intro {display:none;}
.distance {color:rgb(143,143,148); font-size:14px; float:right;}
.mui-table-view-chevron .mui-table-view-cell {padding-right:15px;}
.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn),.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron {margin-right:-15px;}
.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron a {margin-left:-30px;}
.mui-table-view-cell>a:not(.mui-btn) {margin:-15px;}
.btn-more {background:#fff; border-radius:6px; color:#888; text-align:center; padding:15px; margin:15px;}
ul.mui-table-view[name="pointlist"] h4,.list[name="coop"] h4 {border-left:3px solid #f65439; padding-left:12px;}
/*ParkInfo*/
.pic-box {height:180px;overflow:hidden; position:relative;}
.pic-box img {height:auto; width:100%; position:absolute; top:50%; margin-top:-90px;}
p.tags {margin-top:-10px;}
.tags-item {border:1px solid #ddd; border-radius:3px; padding:3px 5px; margin-right:5px; margin-top:10px; display:inline-table;}
.reserve {background:#fff; border-top:1px solid #ddd; position:absolute; left:0; bottom:0; width:100%;}
.reserve .mui-btn-block {margin:15px; width:auto;}
.park-info .mui-btn-outlined {top:15px; height:24px; line-height:24px; font-size:12px; padding:0 12px; -webkit-transform:none; transform:none;}
.park-info .mui-table-view-cell .duduche {position:absolute; top:14px; color:#999; font-size:18px;}
.park-info .mui-table-view-cell p {margin-left:24px;}
.park-info .mui-table-view-cell:first-child p {margin-left:0;}
#mui-popover {bottom:0; left:0;}
.mui-popover.mui-popover-action .mui-table-view {margin:0; color:#1e88e5; text-align:left; border-radius:0;}
.mui-popover.mui-popover-action .mui-table-view .btn-cancel {text-align:center; color:#666;}
.mui-popover:before {display:none;}
/*Pay*/
.order_pay .mui-table-view:last-child {margin-top:10px;}
.pay-box .mui-btn-block {margin:15px; width:auto;}
.park-right {float:right; margin-right:20px; color:#333; font-size:16px;}
.pay-box .mui-radio.mui-left input[type=radio] {left:30px; vertical-align:middle;}
.pay-box .mui-radio input[type=radio] {right:0;}
.pay-box .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {padding-left:60px;}
.pay-box .mui-input-row label {padding:0;}
.pay-box .mui-input-group:after,.pay-box .mui-input-group:before,.pay-box .mui-input-row:after {display:none;}
.pay-box .mui-radio img {width:32px; height:32px; margin-right:5px; vertical-align:middle;}
.mui-input-group .mui-input-row {height:auto;}
.park-right.price {margin-right:0; color:#f00;}
.park-explain {color:#666; font-size:14px;}
/*Gift*/
.mui-table-view-divider {font-size:14px; color:#666; background:#f8f8f8; margin-top:10px;}
.mui-table-view-divider:before {display:none;}
.more {position: absolute;right: 0px;padding-right:15px;}
.mui-navigate-right.more {padding-right:30px;}
.coupon-box {display:inline-block; color:#1e88e5; width:90px; position:relative;}
.coupon-info {display:inline-block;}
.mui-table-view[name="coupon"] h4 {margin-bottom:0;}
.price-icon {font-size:20px; position:absolute; bottom:3px; left:0;}
.price-number {font-size:55px; line-height:1em; margin-left:20px; font-style:italic;}
form[name="form1"].mui-input-group .mui-input-row {background:none;}
/*Search*/
.innerlist .search_desc {margin-left:15px;}
.innerlist .search_arrowup{position:absolute; right:12px; color:rgb(215, 215, 215); top:12px;}
.list[name="history"] {position:relative;}
.list[name="coop"] .innerlist .mui-table-view-cell:after {left:0;}
.mui-table-view-cell .mui-table-view:after,.search-tips.mui-table-view:before,.search-tips.mui-table-view:after,.mui-input-group:before,.mui-input-group:after,.mui-input-group .mui-input-row:after {display:none;}
.mui-input-group input[type=search] {background-color:rgba(0,0,0,.1); padding-left:10px; border-radius:6px;}
.search-tips {position:absolute; left:0; top:47px; z-index:500; width:100%; margin-top:0;}
.search-tips .mui-table-view-cell:last-child:after {height:1px; left:0;}
.mui-table-view-cell .mui-grid-view {margin:20px -15px -15px; background:#f8f8f8; width:auto;}
.innerlist .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {margin-top:0; height:auto; min-height:15px;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {padding:15px 7px;}
.searchmap_contaion .mui-input-group .mui-input-row,form.mui-input-group {background:none;}
/*Profile*/
.userpage .icon-user_active {background:#eee; color:#fff; border-radius:100px; padding:15px; vertical-align:middle;}
.pailist .icon-compose {float:right; font-size:14px; color:#666666;}
.pailist>li>span{border: solid 1px; border-radius: 50%; background-color: #fff; color: #ccc; margin-right: 10px;}
.pailist>li>a{float: right;}
.pailist>li.mui-active{background-color: inherit;}
.pailist>li>*{display: inline;}
.pailist>li>.table {display:none;}
.pailist>li.edit>*{display:none;}
.pailist>li.edit>.table{display: block;}
.pailist>li>span{position: relative; top: 6px; display: inline-block; width: 28px; height: 26px; -webkit-appearance: none; background-color: transparent; border: solid 1px #16a7de; border-radius: 50%;}
.pailist>li.mui-active>span{background-color: #16a7de;}
.table input,.mui-table-view-cell input {height:34px; line-height:34px; margin:0;}
.table input {width:58%;}
.mui-table-view-cell input[name="input_add"] {width:78%; margin:0;}
.pailist b {color:#666;}
.pailist .mui-active b {color:#1e88e5;}
.pailist {margin-bottom:10px;}
/*Select-Menu*/
.select-menu {height:40px;}
.select-menu ul {list-style:none; margin:0; padding:0;}
.select-menu>ul>li {background:#fff; float:left; width:33%; padding:0;}
.select-menu>ul>li>span {display:block; height:40px; line-height:40px; text-align:center;}
.select-menu-btn {color:#1e88e5;}
.select-menu .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {margin-top:0;}
.select-menu-cell {position:absolute; z-index:500; left:0; top:39px; width:100%;}
.select-menu-cell .mui-grid-view.mui-grid-9 {background:#fff;}
.shadow-box {background:rgba(0,0,0,.3); height:100%; width:100%;}
.input-box .mui-table-view-cell:after {left:0;}
.tips-tag {color:#f00; margin-right:5px;}
.tips-tag span {margin:0 2px;}
/*Input*/
.mui-input-group input,.mui-input-group textarea {padding:0; font-size:15px;background: none;}
.input-box .tags-item {color:#999;}
.input-box .tags-item.tags-active {border-color:#1e88e5; color:#1e88e5;}
.location-box {margin:-15px; height:200px;}
.input-box .mui-btn {margin:15px; width:auto;}